[2020-05-06 23:47] greenpau opened #1 "logout true has no effect"
When a user gets redirected to `auth?logout=true`, the user's cookie is not being removed.

[2020-05-06 23:58] greenpau opened #2 "Confirm Form Resubmission"
Adopt authentication flow such that for re-submission would not appear. Use Post/Redirect/Get (PRG) patten https://en.wikipedia.org/wiki/Post/Redirect/Get

![image](https://user-images.githubusercontent.com/3826416/81239702-917d4980-8fd3-11ea-8b6d-c2dc40718895.png)

[2020-05-07 13:58] greenpau opened #3 "ui requires specifying a template"
If `templates` are not in UI configuration, the UI rendering fail. By default, UI should render default templates from `caddy-auth-ui`, but it does not.

[2020-05-09 18:03] #1 closed

[2020-05-09 18:06] greenpau commented on #2
Resolved.

[2020-05-09 18:06] #2 closed

[2020-05-09 18:08] greenpau opened #4 "feature: add users page"
Add "User Management" page where users with the role "admin" or "superadmin" can view the users in the plugin's local database.

[2020-05-09 18:11] greenpau opened #5 "feature: add role selection page"
When `allow_role_selection` is set to true, allow a user to select roles the users want to have in JWT token. For example, a user may have `viewer`, `editor`, or `administrator` role, but the user wants to experience the website with "viewer" role only. The page would allow the user selecting the role.

[2020-05-09 18:28] greenpau opened #6 "feature: add change password page"
Add a page allowing password change.

This would also require adding password complexity and length parameters/requirements to the configuration. If a user password does not meet the requirements, then the change will not be accepted.

Additionally, if a user's current password does not meet the requirements, the user must be redirected to the change password page.

[2020-05-09 18:31] greenpau opened #7 "feature: add user registration page"
Create a configuration parameter allowing users to register.

The registration get approved by users with "admin" and "superadmin" roles.

[2020-05-09 18:32] greenpau opened #8 "feature: add password reset link"
An administrator may allow a user to reset the password. For that purpose, the admin will create a one-time use link, the user would follow for the password reset.

[2020-05-09 18:32] greenpau opened #9 "feature: add support for Microsoft Edge browser"

[2020-05-09 19:55] #3 closed

[2020-06-02 16:02] greenpau opened #10 "feature: add LDAP backend"
This issue is for tracking the progress on the creation of LDAP backend.

[2020-06-03 22:10] #10 closed

[2020-06-03 22:46] jprenken opened #12 "feature: Add support for specifying CAs"
It would be great if I could specify a file or directory containing (a) specific CA certificate(s) to trust for validation of an LDAPS server's certificate.

[2020-06-04 00:27] greenpau opened #13 "feature: add microsoft authentication MFA to local auth"
Microsoft Authenticator: https://www.microsoft.com/en-us/account/authenticator

<img src="https://raw.githubusercontent.com/greenpau/caddy-auth-portal/main/assets/docs/images/mfa_ms_auth_add_account.png">

<img src="https://raw.githubusercontent.com/greenpau/caddy-auth-portal/main/assets/docs/images/mfa_ms_auth_scan_qrcode.png">

<img src="https://raw.githubusercontent.com/greenpau/caddy-auth-port

[2020-06-04 00:28] greenpau opened #14 "feature: add Authy authentication MFA to local auth"

[2020-06-04 18:01] jumanjiman commented on #13
@greenpau

https://www.w3.org/TR/webauthn/ may be of interest for this.

PyPI uses it for a seamless experience.

1. I registered for a PyPI account and elected to add MFA
1. It showed me a QR code
1. I scanned the QR code with my preferred MFA app
1. PyPI magically recognized my MFA provider and associated it to my account

PyPI uses https://www.w3.org/TR/webauthn/

[2020-06-04 19:10] greenpau commented on #13
Future MFA prompt for UI.

![image](https://user-images.githubusercontent.com/3826416/83800434-6c810280-a675-11ea-9f77-5badfda9285f.png)

[2020-06-04 19:16] greenpau commented on #13
Additionally, FIDO2: https://fidoalliance.org/specifications/

The FIDO Alliance has published three sets of specifications for simpler, stronger authentication:

* FIDO Universal Second Factor (FIDO U2F)
* FIDO Universal Authentication Framework (FIDO UAF) and
* the Client to Authenticator Protocols (CTAP). It is complementary to the W3C’s Web Authentication (WebAuthn) specification; together, th

[2020-06-05 11:36] greenpau opened #15 "idea: distributed identity store"
When authenticating users ... what if a user would maintain their credentials and info they would like to share at a remote location in a crypto wallet type of interface ...

The plugin would store a reference to that interface only ...

💭 ☕

[2020-06-07 10:01] schu opened #16 "feature: GitHub authentication"
Regarding caddy-auth-forms being a successor to tarent/loginsrv with Caddy 2 (https://github.com/tarent/loginsrv/issues/167) - it would be great to have GitHub authentication support in caddy-auth-forms.

[2020-06-08 23:54] greenpau opened #18 "config: add Context to AuthProvider struct"
Add Context to AuthProvider struct.

[2020-06-09 19:53] greenpau commented on #18
added `master` and `context` via https://github.com/greenpau/caddy-auth-forms/pull/17

[2020-06-09 19:53] #18 closed

[2020-06-18 01:52] greenpau opened #19 "bug: panic with non-existent template"
The following panic was trigger by the the incorrect reference to a non-existing template:

[code]

https://github.com/greenpau/caddy-auth-forms/blob/a6768ef65d6e7ba7ac4c0a28af73735d64c3e1ce/pool.go#L388-L393

[code]

[2020-06-18 02:36] #19 closed

[2020-08-11 09:30] joe-getcouragenow opened #20 "various auth features in the golang package "authelia""
Have you seen this ?

https://github.com/authelia/authelia

as it says on the box "The Single Sign-On Multi-Factor portal for web apps"

I have not had a chance to really dig into it but its supports hardware yubikeys and OTP

I figured you might be interested in this.

The first thing i thought iof was " Caddy is not on the list of proxies". Bummer.

[2020-08-11 09:33] joe-getcouragenow commented on #20
Opps looks like your already thinking about it: https://github.com/authelia/authelia/issues/1248

[2020-08-12 23:55] #20 closed

[2020-09-03 21:41] greenpau opened #21 "bug: expired token gets stuck in localstorage"
Expired token gets stuck in local storage. Requires cleaning up local storage.

[2020-09-03 21:42] #21 closed

[2020-09-04 13:31] greenpau opened #22 "feature: record information about source ip address in JWT token"
It may be beneficial to have the source IP address recorded in a JWT token. For example, if an IP address changes, the server may prompt a user for authentication or OTP.

[2020-09-04 23:55] greenpau opened #23 "feature: add support for striping JWT token from a request"
The idea is that a subsequent handler would not see the token.

[2020-09-04 23:58] #23 closed

[2020-09-05 11:38] greenpau opened #24 "feature: add whoami type of endpoint"
The idea is adding and endpoint that would return either JSON or HTML with the information about JWT token.

[2020-09-05 16:05] greenpau opened #25 "feature: add captcha"
Adding captcha when a user fails authentication X times.

[2020-09-10 18:32] rayjlinden opened #27 "docs: example"
I just read the docs I found here - and I finished being very confused as to where to start.

Like what do I put into my Caddyfile to turn this own?  I did not even see Caddyfile mentioned - so I'm rather confused...

An example or two, would certainly help.

[2020-09-10 18:44] greenpau commented on #27
@rayjlinden , the plugin works with JSON config. I am working on Caddyfile PR as  we speak: https://github.com/greenpau/caddy-auth-portal/pull/26

Once finished the Caddyfile would look something like this: https://github.com/greenpau/caddy-auth-portal/blob/a9879542bcf6e13ce69f996f3cf48836d9c3bb05/assets/conf/local/Caddyfile

The JSON config is here: https://github.com/greenpau/caddy-auth-portal/b

[2020-09-10 18:49] greenpau commented on #27
@rayjlinden , also, here is the readme file for local auth https://github.com/greenpau/caddy-auth-portal/blob/main/pkg/backends/local/README.md

[2020-09-10 23:26] rayjlinden commented on #27
Well - my timing is close.  I took a look at your PR and with that things seem much more clear.  The example you have in there is very helpful!  Indeed, I've written up my Caddyfile in anticipation of it getting released.  I say ship it!  👍

Only question I had was around validating the jwt and redirecting if not authenticated.  Again, I have not messed with the jwt directive before - so it is not

[2020-09-10 23:41] greenpau commented on #27
@rayjlinden , baking Caddyfile support for jwt too. I will release portal and jwt together. Hopefully this week. JWT plugin has the redirect to authentication portal feature.

[2020-09-11 17:46] greenpau commented on #27
@rayjlinden , Caddyfile functionality is ready for you. https://github.com/greenpau/caddy-auth-portal#secure-prometheus

[2020-09-11 17:46] #27 closed

[2020-09-12 16:21] MexHigh opened #29 "feature: jwt > auth_url should allow different host"
If I try to set the `jwt > auth_url` directive to something like `https://auth.example.com`, I get the following error:

` Error during parsing: path directive must begin with '/'`

It should be possible to have the auth portal on another host so that hosts (e.g. `chat.example.com` and `videos.example.com`) use the same auth portal.

[2020-09-12 17:27] greenpau commented on #29
@MexHigh , fair point! This issues belongs to greenpau/caddy-auth-jwt. Please port this issue to that repo and I will fix it right away.

[2020-09-12 17:27] #29 closed

[2020-09-12 20:25] greenpau opened #30 "feature: add options to change cookie parameters"
Add options to change cookie parameters.

Provided the following configuration, the cookie with token is not being passed to `https://chat.example.com`. See this issue about intra domain cookie handling: https://stackoverflow.com/questions/18492576/share-cookie-between-subdomain-and-domain

[code]

[2020-09-12 20:28] greenpau commented on #30
cc: @MexHigh

[2020-09-12 20:36] MexHigh commented on #30
![Screenshot 2020-09-12 222415](https://user-images.githubusercontent.com/50419884/93004387-bd42aa00-f546-11ea-9753-eafaa1a8cee1.png)

`sub` and `email` are both correct. Roles are too, i think (`guest` and `anonymous` are added).

### from users.json
[code]

Access to `/jwt-auth-test` works perfectly after logging in but as I said, the cookie is not send to `https://chat.example.com` so it redire

[2020-09-12 20:41] greenpau commented on #30
@MexHigh , exactly! That's the issue that needs to be fixed here. Will work on it today.

[2020-09-12 23:08] greenpau commented on #30
@MexHigh , I will create Caddyfile option for Cookies parameters ...

* `cookie_domain`: adds the Domain attribute to Cookies. It determines which hosts are allowed to receive the cookie.
* `cookie_path`: adds the Path attribute to Cookies. It determines the URL path that must exist in the requested
  URL in order to send the Cookie header.

![image](https://user-images.githubusercontent.com/38264

[2020-09-12 23:39] greenpau commented on #30
@MexHigh , also, I will be changing the `type local` to `method local` in the next release, the one that addresses your issue.

Now, in order for your scenario to work, you would need to add:

[code]

[2020-09-12 23:44] greenpau commented on #30
@MexHigh , release https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.0.14. Please test.

[2020-09-13 11:44] MexHigh commented on #30
@greenpau It does work now, thanks for your help :)

[2020-09-13 13:25] #30 closed

[2020-09-19 00:59] rayjlinden opened #33 "How to redirect to the originally requested url?"
Looking at the redirect example:
    auth_url https://auth.example.com/auth?redirect_url=https://chat.example.com

So after auth they would get redirected to https://chat.example.com

However, in my case I just want them to go back to the link they were originally trying to get to - not a hard coded location.  How do I do that?

[2020-09-19 01:41] greenpau commented on #33
@rayjlinden , this would be a feature request in caddy-auth-jwt repo.

Something like:

auth_url https://auth.example.com/auth?redirect_url=auto

[2020-09-20 07:17] joe-getcouragenow commented on #25
I was also looking at this. There are some good captcha golang libs out there.
https://github.com/dchest/captcha

[2020-09-20 09:25] joe-getcouragenow opened #34 "claims and grpcweb"
Hey @greenpau

Thank you for all the work on the auth and jwt and portal for caddy.

I am looking at using them in our project.
Caddy V2 looks excellent btw. Its really matured
The config system per module is perfect for us as our Code is modular.

Anyways ...

We are using a flutter GUI but i think its fine to use it with your Auth modules because flutter Webview can be used to open the Portal Lo

[2020-09-20 13:45] greenpau commented on #34
@joe-getcouragenow , which module are you referring to? `jwt` or `portal`?

Currently, role based (group based) access control works as described https://github.com/greenpau/caddy-auth-jwt#sources-of-role-information.

There are a lot of ideas in this issue! 😄 I think it is best you have an issue per idea. Also, you want to be specific as to "authentication" (`portal` repo) or "authorization" (`jw

[2020-09-20 14:00] greenpau commented on #25
@joe-getcouragenow , I do my development for fun and education. Will probably reinvent the wheel on this one :-)

[2020-09-20 15:39] greenpau commented on #33
Resolved by: https://github.com/greenpau/caddy-auth-jwt#auto-redirect-url

[2020-09-20 15:39] #33 closed

[2020-09-20 15:45] greenpau commented on #24
This is resolved. The endpoint is `<AUTH_PATH>/whoami`

![image](https://user-images.githubusercontent.com/3826416/93715366-cf1fe080-fb36-11ea-844a-7f40466264b1.png)

[2020-09-20 15:45] #24 closed

[2020-09-20 15:48] greenpau commented on #6
The user password change will be a part of "Settings" template.

![image](https://user-images.githubusercontent.com/3826416/93715425-3178e100-fb37-11ea-8bd9-c684ecae2ccc.png)

[2020-09-20 16:35] greenpau commented on #34
Opened https://github.com/greenpau/caddy-auth-jwt/issues/27, closing this one.

[2020-09-20 16:35] #34 closed

[2020-09-20 19:57] greenpau commented on #13
Opened #36 . Currently working on QR code for the registration.

![image](https://user-images.githubusercontent.com/3826416/93720852-e02e1900-fb59-11ea-962d-03b7058b15da.png)

[2020-09-22 15:20] rayjlinden opened #37 "feature: add support for OpenID Connect"
I'm using this module for auth since at this time there seems to be no alternative.  (Thanks for leading the way!)
However, I ultimately need to support Google Auth to provide a real Single-SignOn experience for folks at my company.

I was just checking out caddy-auth-SAML - I wanted to see if that could support Google Auth?  One thread there
mentioned you may bring that functionality into this mo

[2020-09-22 15:26] greenpau commented on #37
@rayjlinden , what do you call SSO? OpenID Connect? something else? Screenshots of existing authentication flows would help. Is your company open to support my development with $$$? If so, please ping me in LinkedIn.

[2020-09-22 16:39] greenpau commented on #7
Completed.

[2020-09-22 16:39] #7 closed

[2020-09-22 18:06] MexHigh opened #38 "bug: redirect loop after token expiry"
Assuming we are running the `auth_portal` on `https://auth.example.com/auth`, a `jwt` secured ressource on `https://something.example.com` and already have a working access token and access to the ressouce.

After the token expires (defaults to 15 minutes i think) and accessing `https://something.example.com`, I'm getting redirected to `https://auth.example.com/auth?redirect_url=/auth?redirect_url

[2020-09-22 18:14] greenpau commented on #38
@MexHigh , This is the subdomain cookie issue ... The redirect_url is created by `jwt` plugin. Do you specify `?redirect_url` in your config? If yes, you should not. If not, I am curious about your cookies jar content.

[2020-09-22 22:51] rayjlinden commented on #37
We have tied Google Auth into a bunch of things.  OpenID Connect is how we
do it on our nginx proxies we have in front of a couple of different
systems.  I know we have also used SAML in a couple of other integrations.

Here is a snippet from our nginx config that does this.  It relies on a
open-resty plugin:
(https://github.com/zmartzone/lua-resty-openidc)
[code]

On Tue, Sep 22, 2020 at 8:26 AM

[2020-09-22 23:15] rayjlinden commented on #37
I can't message you on linkedin because I don't have a Pro account.  You can reach me at rayj@lindenlab.com.  I might be able to find so $$

[2020-09-23 08:13] MexHigh commented on #38
No I' didn't specified the `?redirect_url`.

These are the cookies when accessing the `auth_portal` directly (after the mentioned 15 Minutes):
![access_auth](https://user-images.githubusercontent.com/50419884/93985253-17ccd900-fd85-11ea-863e-e6d645840978.png)

and when accessing a `jwt` secured ressouce (before getting redirected to the `auth_portal`):
![access_ressouce](https://user-images.github

[2020-09-23 14:27] greenpau commented on #38
@MexHigh , I I just pushed bugfix release.

If it does not help, please post the expanded url list.

![image](https://user-images.githubusercontent.com/3826416/94026061-359b3d80-fd87-11ea-9d2e-ed5b97c07571.png)

Also, the release contains support for `token_lifetime`. For example, this one is 1 hour.

[code]

[2020-09-23 14:28] greenpau commented on #38
@MexHigh, please let me know if it worked.

[2020-09-23 14:28] greenpau commented on #38
Release ref: https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.1.2

[2020-09-24 10:16] MexHigh commented on #38
Works with and without the `token_lifetime` set. Thank you.

[2020-09-24 10:16] #38 closed

[2020-09-24 12:26] jotterbot opened #39 "Feature Request: Please include a Relay State mechanism? (Or support redirecting back to the "calling domain/page")"
Hello again Paul ,

Again, thank you for your work on these suite of plugins! 😄

This is possibly related to this issue (regarding cookies too): https://github.com/greenpau/caddy-auth-portal/issues/30

**I'm wondering if it is possible to use the same Azure enterprise app, to authenticate on _different_ domains?**
_(The goal is to not have to create 3 x enterprise apps, and assign 3 x lots of user

[2020-09-24 12:27] greenpau commented on #39
@jotterbot , will work on this today. Need your commitment to test it.

[2020-09-25 02:23] greenpau commented on #39
@jotterbot , alright, released https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.1.3

Convert you configuration to Caddyfile. On `jwt` directive, specify `auth_url /auth/saml/azure`. You will be automatically redirected to the page you came from.

[code]

Please test and report back.

[2020-09-25 19:11] greenpau commented on #37
[code]

[2020-09-27 12:39] greenpau commented on #39
@jotterbot , will wait to see Caddy config. I think it is not working because of that.

[2020-09-27 12:40] greenpau commented on #39
Meaning that you would need to port to Caddyfile for this to work. See example assets/conf/local/Caddyfile or assets/conf/saml/Caddyfile

[2020-09-27 13:05] greenpau commented on #39
@jotterbot , parser should not kick in on SAML auth.

The auth UTL should be http://example.com/auth/saml/azure?redirect_url=some/path

[2020-09-27 13:07] greenpau commented on #39
@jotterbot if the only backend you have is SAML ...

 acs_url https://nomad.example.com/saml

Need to be

 acs_url https://nomad.example.com/auth/azure/saml

Please re-read SAML docs in this repo.

[2020-09-28 01:29] greenpau commented on #37
@rayjlinden , you can now test this. Release: https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.1.6

Here are the snippets from my Caddyfile:

[code]

If you want to modify the behavior, please open a separate issue.

[2020-09-28 01:29] #37 closed

[2020-09-28 05:36] rayjlinden opened #40 "Issue with google auth"
I'm clearly missing something.  I put the snippets in as shown in the readme.  But I'm getting this error:
[code]

I feel I might be missing something was not shown in the snippets in the google auth section?  Not sure...

[2020-09-28 06:10] rayjlinden commented on #40
Looking through the code and trying to parse the error messages it looked like I needed to add the following two directives:
[code]

However, I now get this error:
[code]

Which is a bit odd because if I do a url on https://accounts.google.com/.well-known/openid-configuration - I get the data just fine.

[2020-09-28 06:29] rayjlinden commented on #40
Nevermind, the base url stuff - I had providor generic - duh!  I fixed all that but I still get this:
[code]

Very weird that it is failing to get that meta data file - because I test it from the same docker container and I can get it fine with a curl.

[2020-09-28 12:10] greenpau commented on #40
@rayjlinden , you are using generic provider, but should use google provider.

Please follow this doc: https://github.com/greenpau/caddy-auth-portal#google-identity-platform

[2020-09-28 16:30] rayjlinden commented on #40
Yea - I fixed all that.  However, I still get this error on start-up:
[code]

Generally, this means a DNS problem.  However, I manually run the container into bash and I can curl the meta data just fine.  I also added --dns 8.8.8.8 - and I still get the "dial tcp: i/o timeout"

[2020-09-28 16:42] rayjlinden commented on #40
Oh crap.  It fails in docker-compose - only.  I think I have a problem with how our docker networking works...
I need to figure that out first clearly...

[2020-09-28 19:42] rayjlinden commented on #40
Yep - that was it.  Networking issue when using customer networks in docker.  Closing this issue.  I got everything working.

[2020-09-28 19:42] #40 closed

[2020-09-28 19:44] rayjlinden opened #41 "feature: add Google group membership claim"
Maybe this is more of a question for the jwt repo?

My site is configured with google auth backend.  Working great!

However, I have a specific route I would locked down to specific users.  How do I do that when using google auth?

[2020-09-28 19:52] greenpau commented on #41
Great news!!!!!

@rayjlinden , by default, the scope you pass to Google is: `openid email profile`

[code]

You need to change it to `openid email profile groups`, i.e. add `groups`, `roles`, etc.

Please read https://github.com/greenpau/caddy-auth-portal#okta. Specifically "By default, the default Authorization Server has no groups scope."

https://raw.githubusercontent.com/greenpau/caddy-auth-po

[2020-09-28 20:35] rayjlinden commented on #41
Google does not return group information via oauth at all.  You would have
to call some other apis.  The Apache mod is doing that to give you an idea
of what is involved:
https://github.com/RTBHOUSE/google_groups_auth

However, we do not use google groups at all.  So I’d rather not go down
that path.

Is it possible to just set permissions based on email instead of group?
For our simplistic use ca

[2020-09-28 20:55] greenpau commented on #41
@rayjlinden , this is easy to implement. Will ask you to test.

[2020-09-29 20:20] greenpau commented on #16
@schu , Github authentication is now doable with this backend. See https://github.com/greenpau/caddy-auth-portal#oauth-20-authorization-servers-and-identity-providers

I may need to add `github` provider, but that is easy.

[2020-09-30 01:38] greenpau commented on #16
Started documenting Github OAuth2.0 https://github.com/greenpau/caddy-auth-portal#github

[2020-10-01 12:48] #12 closed

[2020-10-01 12:53] greenpau commented on #12
@jprenken , I released support for https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.1.11

See https://github.com/greenpau/caddy-auth-portal#ldap-authentication-backend

Caddyfile directive:

[code]

[2020-10-01 21:14] greenpau commented on #41
@rayjlinden , please test and provide feedback.

Released https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.1.12

The instructions are here: https://github.com/greenpau/caddy-auth-portal#adding-role-claims

[2020-10-01 21:14] greenpau commented on #39
@jotterbot , any feedback?

[2020-10-02 07:34] rayjlinden commented on #41
Well I tried it - I get this error:
[code]

It is unclear from the docs where I need to add the user directive.  I must have it in the wrong place... but where?

[2020-10-02 11:30] greenpau commented on #41
@rayjlinden , inside google backend config.

[2020-10-02 15:53] greenpau commented on #41
@rayjlinden , to clarify:

[code]

[2020-10-02 15:55] greenpau commented on #41
@rayjlinden , updated docs https://github.com/greenpau/caddy-auth-portal#adding-role-claims

[2020-10-02 19:38] rayjlinden commented on #41
The docs make it very clear now.  I got it all working.  Very easy once you know where to put it!

I have a little issue in the case of "permission denied".  I get a 403 back as I would expect.

Then I have this:
[code]

Which should have shown a little kitty picture on the 403.  Instead, it did a download.  This is more than likely a problem in this snippet?  I don't know...  I'm assuming the Con

[2020-10-02 19:54] greenpau commented on #41
@rayjlinden, I don't know about this one. It is better suited for `caddyserver` issues.

The `jwt` plugin is what sends the 403. The `jwt` plugin is authenticator, not middleware ... try commenting the lines and see what happens.

[code]

[2020-10-02 21:05] greenpau commented on #41
@rayjlinden , this is a bug in `jwt` plugin. I will fix it this weekend and let you know to re-tests. Basically, I need to comment out these two lines.

[2020-10-03 01:28] greenpau commented on #41
@rayjlinden , the 403 is a tricky one ... I am opening an issue in `jwt` repo for this one.

https://github.com/greenpau/caddy-auth-jwt/issues/32

[2020-10-03 14:13] greenpau commented on #41
@rayjlinden , see https://github.com/greenpau/caddy-auth-jwt/issues/32

The redirect is the only viable option at the moment.

[2020-10-03 14:13] #41 closed

[2020-10-05 00:17] #16 closed

[2020-10-05 12:07] greenpau commented on #9
Non-issue.

[2020-10-05 12:07] #9 closed

[2020-10-05 13:52] #22 closed

[2020-10-07 11:11] #39 closed

[2020-10-07 16:11] sbamin opened #42 "github oauth2 error 401 - jwt: no primaryInstance auth provider found in default context"
I have followed github OAuth2 config as per README file. My caddyfile (caddy v2) looks like this.

[code]

I have also setup github app per instructions with a callback URL: `https://beta.example.com:4051/auth/oauth2/github/authorization-code-callback`

When visiting `https://beta.example.com:4051/vault/`, I get 401 error after entering valid basic auth credentials. However, it does not redirect m

[2020-10-07 16:43] greenpau commented on #42
@sbamin , the issue is that your `portal` and `jwt` plugins are misconfigured.

[2020-10-07 16:43] greenpau commented on #42
@sbamin , posting details ...

[2020-10-07 16:44] greenpau commented on #42
@sbamin , please take a look at [this](https://github.com/greenpau/caddy-auth-portal/blob/main/assets/conf/local/Caddyfile#L8-L92) and [this](https://github.com/greenpau/caddy-auth-portal/blob/68b619e41bdb7f40cf6316d19fd4c347dd8636be/assets/conf/local/Caddyfile#L95-L110).

[2020-10-07 16:47] greenpau commented on #42
@sbamin , you need something along these:

[code]

[2020-10-07 16:48] greenpau commented on #42
@sbamin , the important this is that `token_secret` matches between `jwt` and `portal`. Please keep me posted on your progress.

[2020-10-07 18:11] sbamin commented on #42
Thanks @greenpau

I am now able to get past err 401 but visiting /vault/ now gives me `github oauth2 sso` while HTTP status showing 200. Log was showing `invalid jwt signature` but I double checked `token_secret` in both `jwt` and `auth_portal`, and they are identical.

[2020-10-07 18:24] greenpau commented on #42
@sbamin , once authenticated, please go to `/auth/whoami` and post what you see. It should be the content of you token.

[2020-10-07 18:24] greenpau commented on #42
@sbamin . also, are you using the latest version of `portal`?

[2020-10-07 18:27] sbamin commented on #42
I build caddy2 from its website on Oct 5.

[code]

[2020-10-07 18:30] greenpau commented on #42
@sbamin , please rebuild with the latest.

Also, I think the issue is with. You should remove it ... It is what causes the 401.

[code]

Then, reconfigure other endpoint to use `jwt`.

[2020-10-07 18:32] sbamin commented on #42
got cha and just noticed that in access.log as basicauth and not jwt secret was being passed in header. Let me reconfigure and check how it goes. Thanks for helping out here.

[2020-10-07 18:34] greenpau commented on #42
@sbamin , see https://github.com/greenpau/caddy-auth-jwt#caddyfile for reference. First `jwt` mention should be primary. The rest are non-primary.

[2020-10-07 19:19] sbamin commented on #42
I removed basicauth and followed same schema as https://github.com/greenpau/caddy-auth-jwt#caddyfile but getting a plain text message (HTTP 200 OK) with `github oauth2 sso` with invalid jwt signature. I removed cookies, and started a new session incognito mode but no luck. I will debug more after reading your docs and let you know how it goes.

[code]

[2020-10-07 19:25] greenpau commented on #42
@sbamin , is it possible you have another JWT token in your cookies?

[2020-10-07 19:32] greenpau commented on #42
@sbamin , just a suggestion. First, enable debugging:

[code]

Next, use trace plugin to get better output: https://github.com/greenpau/caddy-trace#getting-started

[2020-10-07 20:28] sbamin commented on #42
Enabled debug and trace plugin. Following is after I get `github oauth2 sso` when visiting `beta.example.com:4051/vault/`. If I fall back to caddy v1 with OAuth2 based on https://github.com/tarent/loginsrv, same /vault path works.

[code]

[2020-10-07 20:31] greenpau commented on #42
@sbamin , do you see all of the JWT instances successfully initialize?

[2020-10-07 20:32] greenpau commented on #42
@sbamin , this is not the log from `trace` plugin. That's native caddy v2 logging.

[2020-10-07 20:34] greenpau commented on #42
@sbamin . side note.

No need to do this ...

[code]

Rather,

[code]

[2020-10-07 20:35] sbamin commented on #42
opps! Looks like I don't have it in caddy2 binary. I will rebuilt and update tomorrow.

and can update with full log. AFAIK, jet directives were initialized w/o any error.

[2020-10-08 14:16] sbamin commented on #42
Is it ok to send you logs via email?

[2020-10-08 15:04] greenpau commented on #42
@sbamin , yes, email is fine. Please send the logs and config.

[2020-10-08 16:05] sbamin commented on #42
Thanks and just sent.

[2020-10-10 16:31] Inlustra opened #43 "Token used before issued with google provider"
I can't seem to get the google backend to work correctly, I'm navigated to the /auth error page within the portal

`failed validating OAuth 2.0 access token: failed to parse id_token: Token used before issued`

Logs:
[code]
[code]

CaddyFile:
[code]

I'm unsure whether this is something I'm doing wrong (Most likely) or not... happy to dig into this issue as best I can.

[2020-10-10 16:54] greenpau commented on #43
@Inlustra , first ensure you have the latest versions of `portal` and `jwt` plugins.

Next issue is that you need to have domain level cookies.

See here: https://github.com/greenpau/caddy-auth-portal#authorization-cookie

Add:

[code]

That would fix it.

Next, do not add "redirect_url". it will be added automatically.

[code]

[2020-10-10 16:57] greenpau commented on #43
@Inlustra , also, note the error: "Token used before issued".

I think you have time sync issues too....

Run `date` command and see whether your clock is in sync.

[2020-10-10 16:59] greenpau commented on #43
@Inlustra , it is an educated guess ... Google issues token that contain "nbf" (not before) field. If the timestamp in the token is in the future, then you cannot use the token. It is usually because of clock sync issues.

[2020-10-10 17:01] greenpau commented on #43
@Inlustra , make sure you have `scopes openid email profile`. In the email I got initially, it said "scopes openid".

[2020-10-10 17:01] Inlustra commented on #43
Thank you for your quick response!
I actually just fixed the cookie_domain one as I implemented the github_oauth2_backend which is working brilliantly!

I'll have a dig to see if it's the time issue thanks for the advice!

I realise this is a super side note... and I should raise another issue for this, but if I use the root domain instead of with the auth prefix. The portal oauth2 links are broke

[2020-10-10 17:03] Inlustra commented on #43
@greenpau the date does seem to be correct on the server and in the docker container at least
`Sat Oct 10 17:02:39 UTC 2020`

[2020-10-10 17:03] greenpau commented on #43
@Inlustra , yes, that probably needs another issue :-)

[2020-10-10 17:04] greenpau commented on #43
@Inlustra , addd default route redirect to see everything to `/auth`. That would do the trick for you.

[code]

[2020-10-10 17:05] greenpau commented on #43
@Inlustra , that default route should be placed at the end of `auth.mydomain.com`:

[code]

[2020-10-10 17:25] #43 closed

[2020-10-10 20:59] greenpau commented on #42
This now closed. @sbamin , when you get a chance please post your working config.

[2020-10-10 20:59] #42 closed

[2020-10-10 22:36] Inlustra commented on #43
Figured I'd update here just in case anyone sees the same thing...
It was definitely a time issue as greenpau mentioned, forcibly updating ntp seemed to fix the issue - in my case it returned again within a couple of hours 🤷 - server time drift... yay!

[2020-10-11 18:33] sbamin commented on #42
Thanks @greenpau

Here is  a working Caddyfile for caddy v2, https://gist.github.com/sbamin/1450d11044c4fc750268c2e7772940c9 It enables OAuth2 for static files under /vault* and a webDAV server under `/mango*` while keep rest of the contents without any authentication. You may set caddy2 directive, `basicauth` to protect rest of contents.

Main issue with my original Caddyfile was a wrong directiv

[2020-10-11 22:11] schu commented on #16
Hi @greenpau - thanks for the ping.

I was looking into this tonight but eventually hit the following error:

[code]

caddy and module versions:

[code]

It looks like the built-in `auth_portal` version is a few releases behind and doesn't actually include the GitHub OAuth support yet. Am I missing something?

[2020-10-11 22:54] greenpau commented on #16
It looks like the built-in auth_portal version is a few releases behind and doesn't actually include the GitHub OAuth support yet. Am I missing something?

@schu , yes, you need to be at `caddy-auth-jwt v1.1.2` and `caddy-auth-portal v1.2.1`.

[2020-10-12 04:55] schu commented on #16
Does that mean I have to build caddy myself or is there a way to "force" https://caddyserver.com/download to include particular versions of a module?

[2020-10-12 11:47] greenpau commented on #16
@schu i think you need “xcaddy” and building it yourself. See “build” in Makefike.

[2020-10-12 17:33] rayjlinden opened #44 "Google Auth started failing"
I had Google Auth all set up - was working great.  This morning it started failing.  Trying to debug why:

I get redirected this page with this URL:
https://home.dev.tilia-inc.com/auth/oauth2/google/authorization-code-callback?state=97eb5cd1-ef01-4f6b-ac76-fa1c552cfc54&code=4/5AE4WziQAYPxE0RhfSXVBBxPOxegSlea1SAO-S6TKW9nxf0wCoUrWwigscPEjZEs81A0QigB4nN74MLJaqF983k&scope=email%20profile%20https://www

[2020-10-12 17:35] rayjlinden commented on #44
Restarted Caddy got things to work again.

[2020-10-12 17:49] greenpau commented on #44
@rayjlinden , thank you for reporting this!

The issues is that Google changes signing keys from time to time.

[code]

I  need to catch the "the supplied kid" error and rediscover the keys. Will provide a solution this week.

[2020-10-15 21:02] schu opened #46 "question: GitHub OAuth support org/team membership restrictions"
Hi. It took me a bit to puzzle together a working config for GitHub OAuth, so I thought I would paste a full example here (albeit basic):

<details>

[code]

</details>

I have a few questions/comments about https://github.com/greenpau/caddy-auth-portal#github

* The docs ask the user to generate a private key, but it doesn't seem to be used - what is it for?
* The docs don't ask the user to enabl

[2020-10-15 21:18] greenpau commented on #46
@schu , thank you for posting this!

It is a standard Github process. It is not used.

The only constant that would be associated with a user is the user's Github handle. Pulling emails out adds confusion :-) at times, users have more than one email, e.g. 2 or 3 email is a norm. Deciding which one to pick as a primary is a headache.

I think Github's direction is Github Apps ... However, I am open

[2020-10-15 22:02] schu commented on #46
The key is [not generated by default](https://docs.github.com/en/free-pro-team@latest/developers/apps/authenticating-with-github-apps#generating-a-private-key) and needed for signing JWT tokens to authenticate as GitHub App in a particular context, if I understand correctly. So it seems to be unnecessary here.

As far as I understand, they serve different purposes (authenticating as a user vs. the

[2020-10-15 22:32] greenpau commented on #46
@schu , with Github apps, there is a warning message that say you must generate that key prior to using GitHub Apps.

@schu , I was reading [this](https://docs.github.com/en/free-pro-team@latest/developers/apps/migrating-oauth-apps-to-github-apps#reasons-for-switching-to-github-apps) and assumed it is the way to go.

I don't have a preference.

Agreed!

Same here. Will get back to it next month. G

[2020-10-16 05:25] deluxghost opened #47 "mismatch fmt-string and params"
https://github.com/greenpau/caddy-auth-portal/blob/850db4b064e4181cfe39ec1366d7f6fb680a5929/pkg/backends/oauth2/backend.go#L217

here we have `%s` but no args for it. I'm away from my pc so i cant create a PR for this.

there might be other mistakes like this one, consider adding linter to CI workflow might help.

[2020-10-16 07:13] schu commented on #46
(from https://docs.github.com/en/free-pro-team@latest/developers/apps/migrating-oauth-apps-to-github-apps#reasons-for-switching-to-github-apps)

That indeed reads like GitHub apps should be preferred.

And I remembered that Nebraska uses a GitHub app to implement org/team restrictions; the code can be found here: https://github.com/kinvolk/nebraska/blob/master/cmd/nebraska/auth/githubauth.go

[2020-10-16 11:19] greenpau commented on #47
@deluxghost , thank you for reporting this. No need PR on this one because I will be adding a separate “errors” package in the project. I want to convert all fmt.Errorf to ErrFooBar types.

[2020-10-16 16:00] #47 closed

[2020-10-19 17:49] rayjlinden commented on #44
Any update on this?

[2020-10-19 18:12] greenpau commented on #44
@rayjlinden , this week.

[2020-10-21 20:37] #44 closed

[2020-10-21 20:41] greenpau commented on #44
@rayjlinden , please test it. The fix is a part of [v1.2.5](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.5)

[2020-10-22 07:00] rayjlinden commented on #44
I've updated my caddy instance and see no problems.  I'm not sure how to
test this though - other than keeping it running for a week or two.

Do you otherwise know a way to test it?

Ray

On Wed, Oct 21, 2020 at 1:41 PM Paul Greenberg <notifications@github.com>
wrote:

[2020-10-22 12:44] xmflsct opened #48 "OAuth 2.0 authorization state not found"
I am not really sure how to debug this. I get below error
`{"level":"warn","ts":1603370360.55736,"logger":"http.handlers.auth_portal","msg":"Authentication failed","request_id":"---","auth_method":"oauth2","auth_realm":"google","error":"OAuth 2.0 authorization state not found"}`

This happens when I am using previously logged in browsers. When I try incognito mode, everything is fine. Any suggesti

[2020-10-22 13:18] greenpau commented on #48
@xmflsct , let's start with your Caddyfile configuration. Please post it here.

[2020-10-22 13:20] greenpau commented on #48
@xmflsct , also, please your modules:

[code]

[2020-10-22 13:36] xmflsct commented on #48
The modules
[code]

My Caddyfile concerning auth
[code]

[2020-10-22 13:48] greenpau commented on #48
@xmflsct , upgrade to `v1.2.5` and let me know if you see the same issue. OK?

[2020-10-22 13:49] greenpau commented on #48
there was a bug related to serving from `path /`

[2020-10-22 13:52] greenpau commented on #48
@xmflsct , Also, just to confirm, are you using HTTPS? ... I expect the answer to be yes (99%) ...

[2020-10-22 13:55] xmflsct commented on #48
Yes I am within the 99%. :) Will update soon and let you know!

[2020-10-22 14:00] greenpau commented on #48
@xmflsct, also please paste the entire log of the server start up. I just want to make sure that all parts of the `portal` are loading fine.

[2020-10-22 14:07] greenpau commented on #48
@xmflsct , preliminary thoughts ...

The error stems from here:

https://github.com/greenpau/caddy-auth-portal/blob/63c8e7339d2b2d021b53309b1508f6aebd6c3f25/pkg/backends/oauth2/backend.go#L217-L221

When the plugin redirects a user to Google, it includes a `state`. The `state` is being recorded in a `stateManager` (cache). That cache is local to the instance which executed the redirect.

Thus ...

[2020-10-22 14:08] greenpau commented on #44
@rayjlinden , not really ... unless you someone for Google to regenerate the keys ...

[2020-10-22 14:11] xmflsct commented on #48
After updating, it works like a charm! Thank you for your quick support and this plugin, that finally I can upgrade to Caddy2!

[2020-10-22 14:11] #48 closed

[2020-10-22 14:39] greenpau commented on #48
@xmflsct , excellent! Feel free to give it a star and promote the plugins (`portal`, `jwt`) on the social platforms you use!

[2020-10-22 15:21] greenpau commented on #44
@rayjlinden , also, I would appreciate if you advertise the plugins (`portal` and `jwt`) on the social media platforms you use!

[2020-10-22 22:48] greenpau commented on #6
Currently the page looks like this:

![image](https://user-images.githubusercontent.com/3826416/96935948-26e19c80-1493-11eb-903d-6ccffac719fd.png)

The API endpoint is `/auth/api/user/password/edit`.

When a user accesses the endpoint, the user's identity would have a specific `jti`, e.g.

[code]

When a user logs in successfully, the `jti` is being added to `sessionCache`:

https://github.com/gre

[2020-10-24 02:16] tgelite opened #49 "Complete your license file - its still in template form"
1) awesome plugin, we are starting testing and love what's seen so far.
2) are you excepting financial contributions?
3) your LICENSE file is still in template form and not completed...  we'd like to be compliant in our use and possible distribution alongside our product...

[2020-10-24 12:09] #49 closed

[2020-10-24 12:09] greenpau commented on #49
@tgelite , thank you! I am accepting financial contributions (feel free to email me at greenpau@outlook.com). Per the license file, will update that shortly.

[2020-10-24 17:35] bleonard252 opened #50 "bug: custom token name is not working with jwt token proovider."
After "detected cookie-based redirect", no other errors are being logged for this in Caddy (debug is on), but both Firefox and Chrome redirect /auth/settings to /auth. I can confirm sign-in is successful because / shows my index.html instead of redirecting to /auth, which it does after going to /auth/logout. /auth/whoami doesn't work either. Going to /auth/blblblbl (among other things) does give t

[2020-10-24 17:39] greenpau commented on #50
@bleonard252 , are you using the latest plugin version? What is the version you use?

[2020-10-24 17:40] greenpau commented on #50
@bleonard252 , also, did you read about “cookie_domain”?

[2020-10-24 17:41] bleonard252 commented on #50
(That was fast.)
I'm pretty sure I'm using the latest, maybe it's the release version. It's whatever xcaddy gave me with that command.

[2020-10-24 17:42] greenpau commented on #50
@bleonard252 please do “@latest” in the xcaddy command for auth plugins

[2020-10-24 17:43] bleonard252 commented on #50
Will try that. I don't know where to set cookie domain, is that in the caddy docs somewhere?

[2020-10-24 17:45] greenpau commented on #50
@bleonard252 ,domain_cookie does not apply here because you are hosting and serving on the same node.

[2020-10-24 17:45] greenpau commented on #50
@bleonard252 , the issue here is your “root” directive

[2020-10-24 17:46] greenpau commented on #50
@bleonard252 , you need to specify “root” inside your file_server. That what messes it all up.

[2020-10-24 17:47] bleonard252 commented on #50
I'll try that, thank you

[2020-10-24 17:50] greenpau commented on #50
Also, do not do “http://127.0.0.1:8080” ... it is just 127.0.0.1 ... And you could have multiple names and it addresses separated by comma. The port is defined at the top. See here https://github.com/greenpau/caddy-auth-portal/blob/main/assets/conf/local/Caddyfile

[2020-10-24 17:52] greenpau commented on #50
@bleonard252 , regarding “root” , please how it is defined here https://caddyserver.com/docs/caddyfile/directives/file_server

[2020-10-24 17:59] bleonard252 commented on #50
For some reason, changing the token name to "access_token" seemed to fix it.

[2020-10-24 19:20] greenpau commented on #50
@bleonard252 , thank you for letting me know! It could be bug. Will check it out later.

[2020-10-24 22:50] #50 closed

[2020-10-24 22:53] greenpau commented on #50
@bleonard252 , it was a bug. Thanks again for reporting it! The fix is available in [v1.2.6](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.6).

Feel free to give this plugin a star and promote the plugins (portal, jwt) on the social platforms you use!

[2020-10-25 13:41] greenpau opened #51 "bug: token issued by saml backend have no iat claim"

[2020-10-25 18:26] greenpau opened #52 "javascript error: blocked by CORS policy"
When proxying Kibana instance, I observed the following logs in javascript console. There is no visible impact.

[code]

[2020-10-26 20:55] vrischmann opened #53 "issue with redirect caching and ephemeral state"
Hello,

first of all, thanks for this project, really helpful :)

I setup my auth portal using the google oauth2 backend but I'm having some problems which I believe are due to the 308 Permanent Redirect and the fact that both Firefox and Chrome are caching the response.

The steps to reproduce are:
* Go on the auth portal, click on the Google button
* You're presented with the Google "choose an a

[2020-10-26 21:41] greenpau commented on #53
@vrischmann , please compile using the latest version. See releases. Also, please paste your configuration.

[2020-10-26 21:49] vrischmann commented on #53
I'm using 7caf09b28a17c4aa40f895aacd2bc4ab36bf8ff1

My configuration is basically this:
[code]

[2020-10-26 21:55] greenpau commented on #53
@vrischmann, are you saying Caddy restart was in mid authentication flow?

[2020-10-26 22:01] greenpau commented on #53
@vrischmann , I see the issue. I will create a bugfix and create a new release.

[2020-10-26 22:02] #53 closed

[2020-10-26 22:03] vrischmann commented on #53
Yes that's right, mid flow.

Good to know that you reproduce it, and thanks !

[2020-10-26 22:03] greenpau commented on #53
@vrischmann , please use https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.8 and retest.

[2020-10-26 22:05] greenpau commented on #53
@vrischmann , side note, I suggest you switch to using `token_rsa_file` instead of `token_secret`. See [here](https://github.com/greenpau/caddy-auth-portal#jwt-tokens)

[2020-10-26 22:11] vrischmann commented on #53
The new version works fine now, thank you. Thanks for the tip also !

[2020-10-26 22:26] greenpau commented on #53
@vrischmann , I am glad things worked out for you. Feel free to promote the project on the social media platforms you use! 😄

[2020-10-28 02:11] #6 closed

[2020-10-28 02:14] greenpau commented on #51
It is now resolved.

[2020-10-28 02:14] #51 closed

[2020-10-28 15:00] greenpau opened #54 "feature: add ssh key settings page"

[2020-10-28 15:20] greenpau commented on #13
The registration code is working:

![image](https://user-images.githubusercontent.com/3826416/97456737-83b7d980-190f-11eb-8fdf-d4b22ece2e64.png)

[2020-10-28 21:27] xombiemp opened #55 "bug: local_backend Caddyfile directive - backend name is required but missing"
Thanks for creating this plugin for Caddy2!

I have a simple configuration working with this in my Caddyfile
[code]

If I remove the backends property from the auth_portal and just have the local_backend property like the commented out line then I get this error:
`backend name is required but missing`

Should I be able to use this shortened Caddyfile directive?  I'm I doing something wrong?

[2020-10-28 22:37] greenpau commented on #55
@xombiemp, thank you! I have been putting a lot of work into this plugin. Would appreciate a star and a mention on the social media platforms you use. It is hard to promote a project, so I can use your help there :-)

Per you specific question ...

There is a bug in the code. Right now. Will fix it in a moment ...

[2020-10-28 22:41] greenpau commented on #55
@xombiemp , really like this trick 👍

[code]

[2020-10-28 22:45] greenpau commented on #55
@xombiemp ,

[2020-10-28 22:45] greenpau commented on #55
@xombiemp , released https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.10 with the bugfix. Please retest.

[2020-10-28 23:16] xombiemp commented on #55
Absolutely, I starred it!
I just tested again with the fix and it is working great now. Thanks!

[2020-10-28 23:16] #55 closed

[2020-10-28 23:28] xombiemp opened #56 "Use random tokens if undefined"
My config looks like:
[code]

What I'm wondering about is if there might be a way to eliminate the token settings from the config.  If they aren't defined then the plugins would use random values and somehow coordinate that between the jwt and portal plugins.  I believe the Caddy 1 plugins jwt and login did something like this, because I did not have to define tokens like this.

Do you think it's

[2020-10-29 00:25] greenpau commented on #56
@xombiemp , let’s start with that you can safely remove token_issuer and token_name from the config. Next, by default token_lifetime is 15 minutes. You can remove this directive too if you are ok with this limit.

Token secret is the only thing that need to be present. Now, I suggest you don’t use static password, rather you could add

token_rsa_file Hz789bc303f0db /etc/gatekeeper/auth/jwt/sign_ke

[2020-10-29 00:27] greenpau commented on #56
Also, I can probably create a few shortcuts related to “jwt”. Will add it tomorrow. Now, I going to 🛌 !

[2020-10-29 01:31] xombiemp commented on #56
@greenpau I would definitely be interested in the plugins being able to communicate a generated secret as a feature request.

Thanks for the other tips given!
My config now looks like:
[code]
I am also very interested in any shortcuts you can create tomorrow. 😄

[2020-10-29 02:59] vsoze opened #57 "Authenticating across subdomains"
First off I just wanted to say thank you for your work on this plugin, it's been a life saver for migrating to v2 and protecting services while avoiding resorting to basic auth.

Authentication doesn't seem to work for me across subdomains; here's an example config:

[code]

The redirect to authentication happens just fine, as does the redirect back after inputting login information, but I'm not a

[2020-10-29 03:05] greenpau commented on #57
@vsoze , add context in the second definition.

service.example.com {
  jwt {
    context service1

[2020-10-29 03:36] greenpau commented on #57
@vsoze , alternatively, remove the following from service config. It is not necessary here.

    primary yes
    trusted_tokens {
      static_secret {
        token_name access_token
        token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
        token_issuer e1008f2d-ccfa-4e62-bbe6-c202ec2988cc
      }
    }

[2020-10-29 03:38] greenpau commented on #57
@vsoze , you also need to add in auth portal

cookie_domain example.com

Please review docs

[2020-10-29 03:38] greenpau commented on #57
No need adding “context service1”

[2020-10-29 04:13] vsoze commented on #57
@greenpau , adding cookie_domain in auth_portal worked, I knew I had to have been missing something simple, thanks!

[2020-10-29 04:13] #57 closed

[2020-10-29 16:20] greenpau commented on #56
After my future release, the following snippet in `jwt` Caddyfile:

[code]

replaces the following:

[code]

[2020-10-29 16:38] greenpau commented on #56
After my future release, the following snippet in `portal` Caddyfile:

[code]

Replaces:

[code]

[2020-10-29 16:59] greenpau commented on #56
@xombiemp , please review https://github.com/greenpau/caddy-auth-portal#caddyfile-shortcuts. These changes are in https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.11.

Please test.

[2020-10-29 18:56] xombiemp commented on #56
@greenpau This is great! I just tested this config and it is working as expected:
[code]

This looks about as compact as possible without the plugins being able to share a random secret. Thanks so much!

[2020-10-29 20:00] xombiemp opened #58 "Local user DB identity property"
I'm trying to wrap my head around the local db. I have a php app behind the portal that relies on the following variable to identify logged in users:
$_SERVER['REMOTE_USER']

It appears that this variable is set based on the "address" property and not the "username" property.  Is this on purpose?  Would it be useful to be able to control that?
I can change the "address" property so that it passes

[2020-10-29 20:11] greenpau commented on #58
@xombiemp , I don't understand the question. Please elaborate.

The structure of the user database is based on the library I've created https://github.com/greenpau/go-identity

See here https://pkg.go.dev/github.com/greenpau/go-identity#Database

The user object is: https://pkg.go.dev/github.com/greenpau/go-identity#User

Regarding the passing of the username, please read [this](https://github.com

[2020-10-29 20:57] xombiemp commented on #58
Ok, so REMOTE_USER is an environment variable.  It looks like this is what is setting it in the fastcgi module:
https://github.com/caddyserver/caddy/pull/3577/files

And that http.auth.user.id place holder looks like it is set here:
https://github.com/caddyserver/caddy/blob/c9fdff9976da38c650a51cd3fb4f2667853ff627/modules/caddyhttp/caddyauth/caddyauth.go#L82

I don't really know how this correlate

[2020-10-29 21:02] greenpau commented on #58
@xombiemp , this is outside of the portal. I think you need to look into reading JWT token in PHP. The token is being passed to your PHP app.

[2020-10-29 23:10] xombiemp commented on #58
@greenpau I think I found it.
https://github.com/greenpau/caddy-auth-jwt/blob/a34b002bb49e82dfc51aa311aadd6d246a464be7/plugin.go#L195

The ID is being set with userClaims.Email.  That caddyauth.User.ID is what's used to set the http.auth.user.id placeholder, which is what is used to set the REMOTE_USER environment variable.

So I guess the question is, what would be the ramifications of setting th

[2020-10-29 23:48] greenpau commented on #58
@xombiemp , you want it to be an email? If so, I can provide Caddyfile option in jwt plugin to allow you setting it to email. Works forks for you?

[2020-10-29 23:50] greenpau commented on #58
@xombiemp , i mean the other way ...

[2020-10-29 23:51] xombiemp commented on #58
@greenpau, yeah! that would be great

[2020-10-30 01:05] greenpau commented on #58
@xombiemp , the requested changes are in https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.12
Please read https://github.com/greenpau/caddy-auth-jwt#user-identity

[2020-10-30 01:05] #58 closed

[2020-10-30 01:06] greenpau commented on #56
This is as good as it gets at the moment! :-)

[2020-10-30 01:06] #56 closed

[2020-10-30 01:52] xombiemp commented on #58
@greenpau I think there is an issue with this.  I have tried user_identity subject and user_identity email and the REMOTE_USER always looks like an id now:
REMOTE_USER = cf33bef0-2373-42c9-a774-e5a22976fe11

I've looked at the code and I can't spot where the issue is.

[2020-10-30 02:06] greenpau commented on #58
@xombiemp , When you go to “auth/whoami”, what do you see?

[2020-10-30 02:21] xombiemp commented on #58
I see
[code]

I also have a test php page that is printing the server variables and it has:
REMOTE_USER = bdda81e3-f768-4094-be09-e985955882fe
HTTP_X_TOKEN_SUBJECT = andrew
HTTP_X_TOKEN_USER_EMAIL = myemail@gmail.com
HTTP_X_TOKEN_USER_ROLES = superadmin guest anonymous

You can see the REMOTE_USER matches the jti value, whatever that is.
Something must be wrong with how the userIdentity.ID is bein

[2020-10-30 02:40] greenpau commented on #58
@xombiemp , please run

Caddy list-modules -versions

[2020-10-30 04:57] xombiemp commented on #58
admin.api.load v2.2.1
admin.api.metrics v2.2.1
caddy.adapters.caddyfile v2.2.1
caddy.listeners.tls v2.2.1
caddy.logging.encoders.console v2.2.1
caddy.logging.encoders.filter v2.2.1
caddy.logging.encoders.filter.delete v2.2.1
caddy.logging.encoders.filter.ip_mask v2.2.1
caddy.logging.encoders.json v2.2.1
caddy.logging.encoders.logfmt v2.2.1
caddy.logging.encoders.single_field v2.2.1
caddy.logging.w

[2020-10-30 13:57] greenpau commented on #58
@xombiemp , I added a log entry to see what is being returned to Caddy.

[code]

As you can see the "ID" is being set to email.

[code]

Unfortunately, your issue is outside the scope of this plugin.

Try relying on `HTTP_X_TOKEN_USER_EMAIL`.

[2020-10-30 14:05] SahAssar opened #59 "Support for issuing HS256 tokens?"
Hello!

Thanks for the awesome plugin! I have one question: I'm trying to use this in front of postgrest and postgrest seems to expect HS256 tokens, not HS512. Would it be possible to add support for using HS256 too? Or do you have any better idea how to make caddy-auth and postgrest work together? The docs for postgrest say this about it's `jwt-secret` config: "If it is set to a simple string val

[2020-10-30 14:12] greenpau commented on #59
@SahAssar , thank you! I have been putting a lot of work into this plugin. Would appreciate a star and a mention on the social media platforms you use. It is hard to promote a project, so I can use your help there :-)

@SahAssar , let's treat this as a feature. Will post Caddyfile directive to accomplish the thing you need in a moment.

[2020-10-30 14:24] SahAssar commented on #59
Awesome, thanks! :+1:  I've stared and my plan is to write a blogpost about this setup when I have it setup and working. I think the combination of caddy, your jwt and auth-portal plugins and postgrest seem like a great way to easily kickstart many types of web backends.

[2020-10-30 14:24] greenpau commented on #59
@SahAssar , you will be able specifying the signing method in this way:

[code]

[2020-10-30 14:49] #59 closed

[2020-10-30 14:52] greenpau commented on #59
@SahAssar , the feature is available in [v1.2.13](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.13).

Please see https://github.com/greenpau/caddy-auth-portal#jwt-signing-method

[2020-10-30 16:24] xombiemp commented on #58
@greenpau
Sorry, I'm pulling my hair out trying to figure out what is going on.
I went back to jwt v1.1.4 and auth_portal v1.2.11 and removed the new user_identity directive from my Caddyfile.
I confirmed that REMOTE_USER is the email value.

Then I updated back to the latest jwt v1.1.5 and auth_portal v1.2.13 and did not change my Caddyfile at all. REMOTE_USER is now an id.

I'm very confused and

[2020-10-30 16:28] greenpau commented on #58
@xombiemp , the change is that caddy version is different probably. Please check go.mod. If that is so, then you need to reach out to github.com/caddyserver/caddy

[2020-10-30 16:30] greenpau commented on #58
@xombiemp , for logging, I suggest trying “caddy-trace” plugin.

Also, I will take a look at the differences between the two version.

[2020-10-30 16:32] greenpau commented on #58
@xombiemp , also whatever digging you do ... it should be in "jwt" plugin.

[2020-10-30 16:34] greenpau commented on #58
@xombiemp , additionally, try building on a different system.

[2020-10-30 16:43] greenpau commented on #58
@xombiemp ... thinking out loud ... what is the reverse proxy injects that header?

What is your config for reverse proxy?

[2020-10-30 16:45] greenpau commented on #58
There could be something in here:

[code]

[2020-10-30 16:47] greenpau commented on #58
The `REMOTE_USER` is being set in `github.com/caddyserver/caddy/modules/caddyhttp/reverseproxy/fastcgi/fastcgi.go`

[2020-10-30 16:47] greenpau commented on #58
More specifically:

[code]

[2020-10-30 16:50] greenpau commented on #58
@xombiemp , good news! Spoke with caddyserver developers and they are saying it is related to this https://github.com/caddyserver/caddy/pull/3577

Will need to update this plugin to get it working properly.

[2020-10-30 16:57] greenpau commented on #58
@xombiemp , you get your solution in 5 minutes! 😄

[2020-10-30 19:48] SahAssar commented on #59
Awesome, it works great! Thank you so much, I'll make sure to promote this as much as I can, both because it is a great plugin and also you really went above and beyond implementing a feature so quickly so that's the least I can do!

Please let me know if there is anything else I can do to help out in return :)

[2020-10-30 23:08] vrischmann opened #60 "can't use more than one auth_portal"
Hello,

I'd like to use multiple auth portals but as far as I can tell this is impossible.

Using the following Caddyfile:
[code]

I get the following error:
[code]

As far as I can tell by looking [at the code](https://github.com/greenpau/caddy-auth-portal/blob/main/caddyfile.go#L84-L94) there's no way to change the context and there's also no way to have a non primary `auth_portal`.

[2020-10-30 23:22] greenpau commented on #60
@vrischmann , in the first instance of the portal add

context portal1

In the second instance, add

context portal1

Try it and let me know if it worked for tou.

[2020-10-30 23:24] greenpau commented on #60
See https://github.com/greenpau/caddy-auth-portal/blob/6142eb447dc09fede68da0c0cd22792ec0096a24/pkg/core/portal.go#L59

[2020-10-30 23:30] greenpau commented on #60
@vrischmann , to sum up, each instance of the portal must have a different “context” value

[2020-10-30 23:33] vrischmann commented on #60
Thanks @greenpau, that seems to work !

[2020-10-30 23:33] #60 closed

[2020-11-02 14:54] MexHigh opened #61 "feature: Using own css file, without including all templates"
Is there an option to change the `{{ pathjoin .ActionEndpoint "/assets/css/styles.css" }}` file? It would be perfect if you could just include an extra css file that overwrites the defaults in the one provided (in my case, I would only change the background to match my homepage).

Something like
[code]
would be nice.

Thanks in advance :)

[2020-11-02 15:11] greenpau commented on #61
@MexHigh , it is easy, see https://github.com/greenpau/caddy-auth-portal#theming

In a nutshell, you can make a copy of templates in here https://github.com/greenpau/caddy-auth-portal/tree/main/assets/templates/basic

Then, in each copy, you could change whatever you want.

Then, you could reference it in your config:

[code]

Does this help?

[2020-11-02 15:14] MexHigh commented on #61
Yes I've read this, but this is just too much config going on for the simple usecase of changing the background color. This also causes problems when I update the portal and you changed the templates.

[2020-11-04 03:40] greenpau commented on #61
@MexHigh , I will see what I can do. It is likely doable. You just need the ability to add custom css on login or everywhere?

[2020-11-04 07:16] MexHigh commented on #61
It would be nice if the css would affect all pages. Thanks for your great work.

[2020-11-04 21:24] greenpau commented on #61
@MexHigh , the feature is in [v1.2.17](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.17).

See [Custom CSS Styles](https://github.com/greenpau/caddy-auth-portal#custom-css-styles) for docs.

Please test and report back 😃

[2020-11-06 16:58] MexHigh commented on #61
I'm using this directive
[code]
(ne other templates set)

___

![image](https://user-images.githubusercontent.com/50419884/98391838-7b6e4580-2057-11eb-94bc-3292b3cb1703.png)

## Issues
- The path set in the Caddyfile is just attached to the request.
- When setting the path absolute (starting with `/`), it will be referenced from the domains root. This is a problem when serving the auth portal unde

[2020-11-06 17:05] greenpau commented on #61
@MexHigh , the directive is not reading that file. Rather, it is actual URL path. The plugin does not read it at all.

[2020-11-06 17:07] greenpau commented on #61
@MexHigh , I think I misunderstood what you wanted 😞 Let me implement the reading of the file and loading it to "auth/assets/...". Will probably happen next week.

[2020-11-06 17:25] MexHigh commented on #61
That's no problem. Take your time 👍

[2020-11-06 17:57] greenpau commented on #61
Will add custom js too

[2020-11-10 02:24] greenpau commented on #61
@MexHigh , I was thinking about JS. This way one could load external analytics code.

[2020-11-10 02:25] greenpau commented on #61
@MexHigh , here is what you can do:

[code]

[2020-11-10 02:32] #61 closed

[2020-11-10 02:33] greenpau commented on #61
@MexHigh , this is now in https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.19.

Please test and report back 😃

[2020-11-10 21:28] MexHigh commented on #61
Works both perfectly. Thank you very much :)

[2020-11-17 04:30] cnschn opened #62 "Allow running behind TLS terminating reverse proxy"
I'm deploying caddy on Kubernetes behind an ingress controller, i.e. Nginx, which handles TLS termination. In principle, `caddy-auth-portal` works fine in this setup, but the OAuth2 `redirect_url` is built using the wrong scheme, because `GetCurrentBaseURL` just checks the `TLS` field on the `Response`, and returns `http://domain`  since there is no TLS between Nginx and caddy.

Is there some way

[2020-11-17 19:06] greenpau commented on #62
@cnschn , will work through this :-)

1. First, what is your current config?
2. What  is the current `redirect_url` value?
3. What is the desired value (or logic)?

The diagram would help a lot! You could start one here: https://www.diagrams.net/

If whatever you are looking for does not exist, I will create it (as long as I can understand the ask).

[2020-11-18 00:13] greenpau opened #63 "Ensure plugin works on Windows"

[2020-11-18 05:15] cnschn commented on #62
Great, thank you @greenpau. Here's the diagram:
![caddy-auth-portal-in-k8s](https://user-images.githubusercontent.com/1759343/99485086-09083a00-2962-11eb-8d98-e0b5163b23ce.png)

Here's the Caddyfile:

[code]

(I have to change `http(s)_port` because the cluster I'm using forces non-root users, so no binding to any ports < 1000)

This makes caddy-auth-portal build the `redirect_url` `http://my-appl

[2020-11-18 05:28] greenpau commented on #62
@cnschn , I can get you options 1 and 2 tomorrow. It is easy and reasonable.

As per option 3, please enable https://github.com/greenpau/caddy-trace plugin and get me the trace where I can see received headers. If you get me that, then I will implement it too.

Like I said it is pretty easy doing it. So expect it tomorrow EOD EST.

Another question, do you use “caddy-auth-jwt”?

[2020-11-18 08:28] cnschn commented on #62
Awesome, sounds great!

Here's the `"headers"` key from the trace (really useful plugin as well, by the way!)
[code]

And yes, I'm also using caddy-auth-jwt, in combination with auth-portal this is a really convenient setup.

[2020-11-18 10:09] cnschn opened #64 "Microsoft OAuth2 backend"
In the Readme file the Microsoft OAuth2 backend is currently listed as "TBD", is there any work for this done already?

I started to hack something together to support a Microsoft OAuth2 application, I could try to clean it up over the next few days and prepare a PR if you're interested?

[2020-11-18 14:43] greenpau commented on #62
@cnschn , I am going to add the following headers for the calculation of redirect URL. This way there is no need to add additional configuration.

[code]

[2020-11-18 15:02] greenpau commented on #64
@cnschn , yes. PR are welcome! Please see https://github.com/greenpau/caddy-auth-portal/blob/main/CONTRIBUTING.md#contributing-guidelines

You need to start from here:

https://github.com/greenpau/caddy-auth-portal/blob/1b08b04f5b75796b2d6733caec862d84586e2b5f/pkg/backends/oauth2/backend.go#L118-L172

Please add another provider called `azure`. That would be your Microsoft OAuth2.

The docs should

[2020-11-18 19:24] greenpau commented on #62
@cnschn , I implemented the necessary changes [here](https://github.com/greenpau/caddy-auth-jwt/commit/4c12537a4abd8581370095031d09457ac423d2ee).

You need to use the following versions to benefit from the feature:

[code]

Please help promoting the project by posting about it on the social media platforms you use! 👍

[2020-11-20 14:48] cnschn commented on #64
Thanks @greenpau, I got it to work both with a multitenant, "All Microsoft account users" application registration, and a tenant-specific one provided by my organization.

There is still one issue I'd like some input on: The JWKs returned by Microsoft's endpoint do not have an `"alg"` key, which throws an error in `Validate()`. According to [the spec](https://tools.ietf.org/html/rfc7517#section-4.

[2020-11-20 14:59] greenpau commented on #64
@cnschn , please post permalink for this.

I think it is used here.  The purpose is validation that the key is RSA key and that the `kid` of the key is a "trusted" kid.

https://github.com/greenpau/caddy-auth-portal/blob/9d13c319525b9e2a728fbf6493d0b6ab9f75e973/pkg/backends/oauth2/validator.go#L36-L38

Whether the `kid` is trusted or not gets determined by the keys loaded by the below function:

h

[2020-11-20 15:21] cnschn commented on #64
The point where the error happens, you mean? It's here:

https://github.com/greenpau/caddy-auth-portal/blob/85389dc996c3f60a033304a018385a88976f26c5/pkg/backends/oauth2/jwks.go#L45-L48

If I read the first snippet correctly, it takes the `"alg"` from `token`, not from the JWK that is stored in `b.publicKeys`, right? These lines also do not give any error, it's in the `fetchKeysUrl` function where

[2020-11-20 15:27] greenpau commented on #64
@cnschn  , the error is happening when the plugin tries to load trusted keys.

https://github.com/greenpau/caddy-auth-portal/blob/85389dc996c3f60a033304a018385a88976f26c5/pkg/backends/oauth2/backend.go#L459-L464

At a high level, when provider sends you a token you need to have some way to check the validity. For that you need to load trusted keys from somewhere.

Not all providers have that funct

[2020-11-20 15:36] cnschn commented on #64
Understood, but fetching the keys and using them to validate the token is working fine, that's still happening. It's just that the JWKs provided by microsoft don't include the algorithm inside the JWK (which they are allowed to, according to the spec), but only in the actual issued token. All needed information is still there, the token comes both with the information about which algorithm it was

[2020-11-20 15:41] greenpau commented on #64
ok! then add some properties to the provider that you would then know assume the algorithm.

🤣

[2020-11-20 15:44] greenpau commented on #64
@cnschn , let's connect on LinkedIn! Great work! 👍

[2020-11-22 00:16] drkstr101 opened #65 "Add feature to configure favicon (or probably just correct my lack of understanding)"
Hello,

I wanted to configure the favicon that displayed in the portal and the only way I could think of to do this was to copy in the templates [and inject a bit of HTML](https://github.com/watheia/theia-server/blob/7c0ae6fbc68efaf5da0b0e52c47f425e11b8526f/gatekeeper/etc/gatekeeper/templates/basic/generic.template#L9) into the header.

Is there something I could do on my end to make this less hac

[2020-11-23 03:48] greenpau commented on #65
@drkstr101 , I think I would need to add “custom header” Caddyfile directive.

Additionally, I need to make it such that css/js/header could be selectively applied to portal’s pages.

Next, I need to add a directive to add files to static assets, e.g.

addon asset <uri_path> <content_type> <filesystem_path>

This way you can inject your favicons via the plugin.

[2020-11-25 20:43] jaysonsantos opened #66 ""user enumeration" on login"
Hey there, right now If you use login with a local backend, a possible attacker could do some sort of user enumeration by trying random usernames because when the user does not exist, it will not try and calculate a bcrypt password then returning an error immediately.
If you want, you could point me to the best place to implement a dummy bcrypt calculation based on the smaller cost on the users.js

[2020-11-25 22:16] greenpau commented on #66
@jaysonsantos, it is a possibility.

@jaysonsantos , thank you for asking this question! Awesome questions! I actually thought of that same scenario but did not have a chance to address it yet.

In a nutshell, I want to keep a mapping between a pair of "username and source IP address for a request" and the number of login attempt. When a number of login failures is reached, block for X time, or CA

[2020-11-29 14:24] rajaseg opened #67 "Issue with google auth (internal server error)"
@greenpau Thank you very much for the great product. I am trying to enable google authentication for services on docker swarm.
I was able to get the authentication portal, but not able to get the services work. Getting internal server error.

I want users to be redirected to authentication portal when they try to access services like, jekyll.example.com or blog.example.com and revert back them to

[2020-11-29 14:38] greenpau commented on #67
@rajaseg , thank you for opening the issue. Your issue stems from the mis-configuration of `jwt`.

The first instance of `jwt` plugin must configure all other instances. In this case `blog.example.com` will inherit the `jwt` setting of `jekyll.example.com`. Additionally, the `auth_url` in `jwt` config should point to `https://auth.example.com/auth`.

[code]

Please let me know if things worked out

[2020-11-29 14:43] greenpau commented on #67
@rajaseg , also upon successful login with Google, check the roles assigned to you under `https://auth.example.com/auth/whoami`.

![image](https://user-images.githubusercontent.com/3826416/100544924-19a09600-3227-11eb-9beb-46c4d38c822a.png)

I think you need to add `guest` and `anonymous` to the `jwt` configuration too.

[code]

[2020-11-29 14:50] greenpau commented on #67
@rajaseg , I suggest adding links to websites to the portal. notice the `ui`, `links` directive.

[code]

[2020-11-29 15:00] greenpau commented on #63
@rismoney, does the plugin work on Windows? :-)

[2020-11-29 15:16] rismoney commented on #63
I may have a use case for it, so I may be able to provide an answer to this soon.

[2020-11-29 15:16] rajaseg commented on #67
@greenpau Thank you very much for quick response. I tried your first option and i was able to redirect when i try to access jekyll.example.com

But I got "Not Found" when i try to access https://auth.example.com/auth/whoiam

![image](https://user-images.githubusercontent.com/633479/100545828-ed673280-3283-11eb-970b-21cd8e4a653d.png)

Also I tried your suggestion regarding adding links to the porta

[2020-11-29 15:41] greenpau commented on #67
@rajaseg , step by step. Please paste what you see at https://auth.example.com/auth/whoami

I need to see your grant.

[2020-11-29 15:42] greenpau commented on #67
Additionally, please paste you full configuration again.

[2020-11-29 15:43] greenpau commented on #67
@rajaseg , Additionally, please paste you full configuration again.

[2020-11-29 15:44] greenpau commented on #63
Thank you, @rismoney! I think local auth may fail because of file path processing, it is tailored towards linux.

[2020-11-29 15:55] rajaseg commented on #67
@greenpau Please find the full details for https://auth.example.com/auth/whoami below

[code]

Also find the full configuration below

[code]

[2020-11-29 17:16] greenpau commented on #67
@rajaseg , what happens when after successful authentication you browse to Jekyll?

[2020-11-29 17:26] greenpau commented on #67
@rajaseg which versions of portal and jwt do you use?

Run “caddy list-modules -versions | grep auth”

[2020-11-29 17:42] rajaseg commented on #67
When I try to access jekyll.example.com, I re-directed to auth.example.com/auth and after succcessful authentication I can access jekyll.example.com.

But when I directly go to auth.example.com/auth, after successful authentication, I have Jekyll service link in the portal. But as I mentioned it has url as auth.example.com/auth/jekyll.example.com

I built custom docker image for testing purpose. H

[2020-11-29 17:54] greenpau commented on #67
@rajaseg , please change to the below and let me know if the link works as expected:

links {
                   "Jekyll" https://jekyll.example.com
               }

[2020-11-29 18:02] rajaseg commented on #67
@greenpau Awesome, It worked as expected. One more help, how to make the link open in new window when i click on Jekyll?

[2020-11-29 18:32] greenpau commented on #67
@rajaseg , please post your final configuration and close this issue.

@rajaseg , please open another issue. I want to keep them separetly. I will answer in another issue.

[2020-11-29 18:48] rajaseg commented on #67
@greenpau Please find my full configuration below.

[code]
I will open another issue for opening links in new window.

Thank for your support, I gave star for jwt and auth portal.

[2020-11-29 18:48] #67 closed

[2020-11-29 19:05] #64 closed

[2020-11-29 19:11] greenpau commented on #65
@drkstr101 , I will find time next week to address this issue.

[2020-11-30 08:39] cnschn commented on #62
@greenpau I'm sorry for not properly checking this earlier, but I fear we have been speaking about different redirect URLs... While the new logic in `caddy-auth-jwt` is definitely good to have, the primary issue I am having is with the `redirect_uri` URL parameter sent to the OAuth backend, i.e. here:

https://github.com/greenpau/caddy-auth-portal/blob/9e61321d98a09009366c1a0cd2e7deb327ab9705/pkg/

[2020-11-30 13:01] greenpau commented on #62
cnschn , yes, that was a misunderstanding.

I think this should be be a caddy directive, i.e. optional.

Are you planning a PR for this?

[2020-11-30 15:30] cnschn commented on #62
I agree.

In this "proxied" situation, only the _scheme_ of the redirect URI is giving problems, everything else works fine. This makes sense, since the hostname and port are passed in the `Host` header.

So in the interest of not over-engineering this, I'd propose a simple boolean `redirect_uri_force_https` (not sure about the name) directive, which would override the scheme to https. I don't thi

[2020-11-30 15:45] rajaseg opened #69 "how to make links open in new window (ui, links directive)"
@greenpau Here is the new issue for opening links in new window. Please find the code below. I want Jekyll to open in new window when I click on the it in the portal.

[code]
Please find the screen cap below for reference.
![image](https://user-images.githubusercontent.com/633479/100631661-f9212a80-3351-11eb-9bae-6c55b1cbd906.png)

[2020-11-30 16:09] greenpau commented on #69
@rajaseg , I will treat this as a feature request and provide the solution to this shortly.

[2020-11-30 17:04] rajaseg commented on #69
Thanks you very much.

[2020-11-30 17:04] Adrian-at-CrimsonAuzre opened #70 "Plex Single Sign On"
Would it be possible to add Plex as an authorization server? Ombi, Tautulli, and Organizr all have implementations for reference.

[2020-11-30 17:09] greenpau commented on #70
@Adrian-at-CrimsonAuzre , thank you for opening the issue! Plex - sure! What are the links to the implementations?

[2020-11-30 17:19] Adrian-at-CrimsonAuzre commented on #70
[Ombi](https://github.com/tidusjar/Ombi/blob/b7571ed191bdb20b7839b08c3d36229a0a45caf6/src/Ombi.Api.Plex/PlexApi.cs#L71)
[Tautulli](https://github.com/Tautulli/Tautulli/blob/9184ae4608367bf601077690a7f9d059c720b452/lib/plexapi/myplex.py)
[Organizr](https://github.com/causefx/Organizr/blob/6bbdb47d44bd1fd13d350c46d6eefe9743c9fac0/api/functions/auth-functions.php#L168)
I don't know if it's possible,

[2020-11-30 17:29] greenpau commented on #70
@Adrian-at-CrimsonAuzre , please create a workflow diagram for the design. I do not use Plex, so you need to help me understand the flow.

[2020-11-30 19:55] greenpau commented on #69
@rajaseg

[2020-11-30 19:58] greenpau commented on #69
@rajaseg , please read [here](https://github.com/greenpau/caddy-auth-portal#portal-links).

The directive that you need:

[code]

You need to be at v1.2.22.

Please test and close if it works for you.

[2020-11-30 20:51] Adrian-at-CrimsonAuzre commented on #70
Tautuli just uses a little bit of JS ([see attached](https://github.com/greenpau/caddy-auth-portal/files/5618332/Tautulli.OAuth.txt)) to spawn a window for signing into plex.tv. Then passes the token to the back end which checks to see if the user can sign into the given server by using the magic key, `X-Plex-Token`, which returns a token that can be used to access a given server with `https://ple

[2020-11-30 20:57] greenpau commented on #70
@Adrian-at-CrimsonAuzre , I think this warrants a custom `plex` authentication backend. What is the easiest way to create a Plex instance that can return a token on Linux? Is [this](https://support.plex.tv/articles/200288586-installation/) it?

[2020-11-30 21:05] Adrian-at-CrimsonAuzre commented on #70
Yes, either install bare that way or spin up a [Docker image](https://hub.docker.com/r/linuxserver/plex).

[2020-11-30 21:39] greenpau commented on #70
@Adrian-at-CrimsonAuzre , is this what you are looking for?

![image](https://user-images.githubusercontent.com/3826416/100668865-910b1e00-332a-11eb-9754-704cb989b7b7.png)

[2020-11-30 21:52] greenpau commented on #70
@Adrian-at-CrimsonAuzre , I re-read your initial question. You want provide username and password that exist on Plex Media server and have RBAC based on Owner Only, Home Only, or Anyone?

[2020-11-30 21:54] Adrian-at-CrimsonAuzre commented on #70
Yes, that is what I want. I'd like to use this Caddy plugin to give SSO capabilities to applications that I host that don't have single sign-on capabilities (Radarr, Sonarr, Lidarr, etc)

[2020-11-30 22:11] greenpau commented on #70
@Adrian-at-CrimsonAuzre , I installed Plex media server. Where do you configure users? How do you assign a user to a group, i.e. Owner Only, Home Only, or Anyone?

[2020-11-30 22:15] Adrian-at-CrimsonAuzre commented on #70
In the webui in the upper right under users and sharing. Add a friend will add a user to the server (they need a Plex account though, I just used a spare email for testing).

Plex doesn't 100% have groups, but the account that's associated with the server is always _the_ owner account. After digging around I'm not sure that Home accounts are differentiated in any way from regular accounts, but a r

[2020-11-30 22:27] greenpau commented on #70
@Adrian-at-CrimsonAuzre , I researched it and I don't think Plex backend integration would work. The plex server does not maintain identity store (think usernames and passwords). Therefore, it could not be used to authenticate users.

[2020-11-30 22:27] #70 closed

[2020-11-30 22:29] Adrian-at-CrimsonAuzre commented on #70
The Plex server itself doesn't, but Plex.tv does and the server will only validate users who are authorized on the server.

[2020-11-30 22:32] greenpau commented on #70
@Adrian-at-CrimsonAuzre , Plex.tv does not have authorization endpoint, e.g. OAuth. See https://forums.plex.tv/t/feature-request-for-oauth2-endpoint/159232 where there is no resolution on the topic.

[2020-11-30 22:36] greenpau commented on #70
There is a good thread on it here: https://forums.plex.tv/t/how-to-get-a-transient-token-from-the-server/135430/9

@Adrian-at-CrimsonAuzre , feel free to provide a detailed diagram of how it is supposed to work. Unfortunately, I cannot help you without functional requirements.

[2020-11-30 22:40] greenpau commented on #62
@cnschn , let me think through this. There has to be an easier way to address this.

[2020-11-30 22:44] Adrian-at-CrimsonAuzre opened #71 "Nextcloud single sign on"
Since Plex isn't going to work out, how about [Nextcloud](https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/oauth2.html)?
It seems to support OAuth2 out of the box, so does this even need its own implementation?

[2020-11-30 23:30] greenpau commented on #71
@Adrian-at-CrimsonAuzre , OAuth implementation differ. This particular one are not following openID subspec of OAuth2.0. The plugin needs to be tailored for Nextcloud.

[2020-11-30 23:39] greenpau commented on #65
@drkstr101 , would having `custom_html_head_path` help? (similar to https://github.com/greenpau/caddy-auth-portal#custom-css-styles). This would inject that the code in `path/to/head.html` into an existing HTML page.

[code]

[2020-12-01 02:04] greenpau commented on #62
@cnschn , I added the fix [here](https://github.com/greenpau/caddy-auth-portal/commit/f374702031412c886bff0e273470e2528962734e).

It is available in [v1.2.23](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.2.23).

Please test and see if it works as expected.

[2020-12-01 04:31] cnschn commented on #62
It works! At least for the azure backend, which is what I can test right now.

I'm still concerned about this, though - while Azure surprisingly (to me) does not care about the `:443` substring, I'm not sure if all backends act the same way.

[2020-12-01 04:56] greenpau commented on #62
Do you mean http redirect has port 443 in it? That’s easy to adjust.

[2020-12-01 10:12] cnschn commented on #62
Exactly, I'd suggest not adding the Port to the string, unless it's something other than 80 or 443.

[2020-12-01 14:06] #71 closed

[2020-12-01 14:09] greenpau commented on #62
@cnschn , I added the fix in [v1.3.1](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.1). Please test.

[2020-12-01 15:08] cnschn commented on #62
Works perfectly @greenpau, thanks again!

[2020-12-01 15:08] #62 closed

[2020-12-01 17:39] rajaseg commented on #69
Do you mean the caddy-auth-portal@v1.2.22?

--with github.com/greenpau/caddy-auth-portal@1.2.22

[2020-12-01 17:43] greenpau commented on #69
@rajaseg , I mean this:

[code]

[2020-12-01 18:29] rajaseg commented on #69
@greenpau I have tested the functionality (link in new window) and associated icon as well. Everything looks good.
Please find image for reference. Thank you very much for the feature.

![image](https://user-images.githubusercontent.com/633479/100781334-e6315780-3430-11eb-93e0-7819da90e043.png)

[2020-12-01 18:29] #69 closed

[2020-12-02 22:43] xombiemp commented on #13
@greenpau I have attempted to configure MFA out of curiosity to see if it would work.  When I enter the codes from my auth app and then click Add Token, the page seems to refresh and MFA is not enabled.  Is this feature a work in progress still? Or should this be working?

[2020-12-02 23:15] greenpau commented on #13
@xombiemp , it is still WIP. I am trying to find some time to implement it. Will ping you when it is ready.

[2020-12-02 23:38] greenpau commented on #13
@xombiemp , at the moment, you will be able to add a token to Authentication App on your phone. However, the backend of the auth portal is not wired. Perhaps, your note here is the push for me to deliver it :-)

[2020-12-03 00:17] #65 closed

[2020-12-03 00:22] greenpau commented on #65
@drkstr101 , this is not available in [v1.3.2](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.2). Please see [here](https://github.com/greenpau/caddy-auth-portal#custom-header).

[2020-12-03 16:47] xombiemp commented on #13
@greenpau ok, no problem. Was just curious. No rush. :)

[2020-12-03 20:33] tgelite opened #72 "Presenting Authenticated User Name through Header in Reverse Proxy Scenario ( Grafana Proxy Pass Config)"
**Describe the issue**

As I work my way through the available documentation and discussion/examples for the auth proxy and jwt, is that the authenticated user information is within the jwt and not presented as header information.  The question being; "Is it possible to dynamically pass authenticated user and group information (such as X-WEBAUTH-USER and X-WEBAUTH-GROUPS) that we can not extend wi

[2020-12-03 20:42] greenpau commented on #72
@tgelite , please upgrade to the latest versions of portal and jwt. After that, amend your issue ^

[2020-12-03 21:23] tgelite commented on #72
Ok updated!

http.authentication.hashes.bcrypt v2.2.1
http.authentication.hashes.scrypt v2.2.1
http.authentication.providers.http_basic v2.2.1
http.authentication.providers.jwt v1.2.1
http.handlers.auth_portal v1.3.2
http.handlers.authentication v2.2.1
http.handlers.trace v1.1.4

[2020-12-03 22:19] greenpau commented on #72
@tgelite , there are a number of things here:

1. `portal` plugin does not set headers. Rather, it injects JWT token into a cookie.
2. prior to reaching `reverse_proxy` plugin, a request must pass through `jwt` plugin. The `jwt` plugin reads the token issued by `portal` and if the token is valid, the request reaches the `reverse_proxy` plugin

Please see [docs](https://github.com/greenpau/caddy-au

[2020-12-03 22:24] greenpau commented on #72
@tgelite , the [url](https://grafana.com/docs/grafana/latest/auth/auth-proxy/) has the reference to the following.

[code]

The JWT token has the fields necessary to populate this. It should be straight forward.

Are you planning to use `local` backend?

[2020-12-03 23:32] edolnx opened #73 "Getting unknown auth backend error when trying to use example config"
Greetings -

I'm using the example Prometheus configuration from the readme as a starting point. That worked. But then I added another auth backend following the directions in the doc for `okta_oauth2_backend` and now caddy will fail to start with the following error:

```Dec 03 23:27:45 ip-XXX-YYY-ZZZ-216 caddy[87625]: run: adapting config using caddyfile: parsing caddyfile tokens for 'route': /e

[2020-12-03 23:35] edolnx commented on #73
I should also probably include the Caddyfile (with redactions):

[code]

[2020-12-03 23:41] greenpau commented on #73
@edolnx ,

1. upgrade the `portal` and `jwt` to the latest version.
2. you might also be interested in this [issue](https://github.com/greenpau/caddy-auth-portal/issues/72#issuecomment-738371885). It is too about Grafana.

The directive is `domain_name`, NOT `domain`:

[code]

Hope this answers it.

[2020-12-03 23:44] edolnx commented on #73
Ah! That did it. I'll see about submitting a PR for the README to correct that. Thank you for your time!

[2020-12-03 23:44] #73 closed

[2020-12-03 23:45] greenpau commented on #73
I will fix it right now.

[2020-12-04 12:49] tgelite commented on #72
Thank you very much for the specific documentation links, I'm reading through now. 

Yes, exactly.  As far as proxy auth and similar, that set of field X-WEBAUTH values covers a wide number of proxy AuthN/AuthZ use cases (including ours).

Yes, initially using local backend.  The team who is having the app stack built anticipates installations where LDAP will be used by next year.   I anticipate t

[2020-12-04 18:07] greenpau commented on #54
Added SSH key add page.

![image](https://user-images.githubusercontent.com/3826416/101198593-b00ef600-3631-11eb-84f3-3cc1fff1a409.png)

[2020-12-04 18:11] greenpau commented on #54
Upon successful addition a user sees the following:

![image](https://user-images.githubusercontent.com/3826416/101198713-e2205800-3631-11eb-876d-6985082ea716.png)

The key is now in the list of keys associated with a user.

![image](https://user-images.githubusercontent.com/3826416/101198777-fe23f980-3631-11eb-9828-ee554ba709b4.png)

A user may click on "Delete" button to delete the key. If succe

[2020-12-04 18:19] #54 closed

[2020-12-04 18:27] greenpau commented on #72
@tgelite , I think what you need is already here. You just need to reconfigure Grafana.

Compare:

[code]

with:

[code]

As described [here](https://github.com/greenpau/caddy-auth-jwt#pass-token-claims-in-http-headers), upon `enable claim headers`, you will get the following headers:

[code]

[2020-12-04 18:27] #72 closed

[2020-12-04 18:27] greenpau commented on #13
... back to making this work :-)

[2020-12-04 18:30] tgelite commented on #72
Perfect, we will test with this.  Sorry to pull you into the grafana side of interpreting things, this is a huge help.  Thanks!

[2020-12-04 18:34] greenpau commented on #72
@tgelite , also, the header may reach Grafana as `X_Token_Subject` or `X-TOKEN-SUBJECT`, etc.

use `caddy-trace` to determine the headers. Please `trace` one line above `reverse_proxy`.

[2020-12-04 18:47] tgelite commented on #72
I will share redacted example of what is presented and what the working config was here, once we are set up based on all the info provided.

[2020-12-04 18:51] greenpau commented on #72
@tgelite, LDAP will work out of the box too.

[2020-12-06 03:57] greenpau commented on #13
Able adding app tokens. Next step is adding token test screen.

![image](https://user-images.githubusercontent.com/3826416/101271041-366c2a80-374d-11eb-81d4-e7a18296cfcc.png)

[2020-12-06 19:16] greenpau commented on #13
I added a materialize CSS card to hold the contents of a token. The "Delete" button works. In progress - "Test" button.

![image](https://user-images.githubusercontent.com/3826416/101289981-99050b00-37cd-11eb-94c9-cc1e5e75c2ff.png)

[2020-12-07 00:44] greenpau commented on #13
@jumanjiman , @xombiemp , if you have a moment, I just released [v1.3.4](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.4). It has the functionality to add a token and test it.

Once you add a token, please click "TEST":

![image](https://user-images.githubusercontent.com/3826416/101298161-a2f13300-37fa-11eb-96a2-f0d2516c0260.png)

After a successful validation, you should see a m

[2020-12-07 21:23] 42wim opened #74 "Claims that exist in access_token and not id_token"
**Describe the issue**

At the moment, the code only checks the `id_token` for claims, some providers seem to stuff all their claims in the `id_token` but other ones put it in the `access_token`.

In my case the `email` claim is set in the `access_token` what causes caddy-auth-portal to fail because it only looks in the `id_token`

**Expected behavior**

Look in the `id_token` and `access_token` f

[2020-12-07 21:52] greenpau commented on #74
@42wim , thank you for opening the issue.

Please provide your configuration.

OAuth2.0 was initially created with OpenID in mind. Then, when I started adding providers, google, fb, etc., I realized that everything has a twist.

;-) no one is perfect ;-)

[2020-12-07 22:07] 42wim commented on #74
[code]

[2020-12-07 22:49] greenpau commented on #74
@42wim , you actually used `generic`  provider.

Once again, many thanks for opening this issue!!! 👍

Will fix it tonight and let you know to retest.

[2020-12-07 23:03] xombiemp commented on #13
@greenpau
I just tested it and it worked! I was able to add the MFA device and then successfully validate the code.

[2020-12-07 23:06] greenpau commented on #13
@xombiemp , thank you for testing! We are one step closer to having MFA protected logins :-)

[2020-12-07 23:06] greenpau commented on #13
@xombiemp , which app or apps did you use?

[2020-12-07 23:19] greenpau commented on #74
@42wim , I added a fix in [v1.3.5](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.5). Please test and report back.

[2020-12-07 23:20] greenpau commented on #74
@42wim , also, please remove all references to `token_issuer`. I will be removing it in the next release.

[2020-12-07 23:52] greenpau commented on #74
@42wim , please use [v1.3.6](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.6).

[2020-12-08 00:19] fdarveau commented on #63
I have been using this plugin on Windows for a few months now without any issue using local path for the auth file on C:/ drive.

The only issue I have encountered so far is the redirection back to the original link after authentication, though it is probably due to my config.

[2020-12-08 00:27] greenpau commented on #63
@fdarveau , thank you for the feedback! 👍 I would appreciate you starring `portal` and `jwt` repos 😉

@fdarveau , when you experience it again, please open an issue about it. Also, I removed `token_issuer` as of [v1.3.6](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.6). Please upgrade the plugin and remove the references to `token_issuer`, if any.

[2020-12-08 00:28] greenpau commented on #63
@fdarveau , there was a bug related to that, but the fix is in `v1.3.6`.

[2020-12-08 01:55] fdarveau commented on #63
After updating, the issue is fixed. Thanks!

[2020-12-08 03:15] greenpau commented on #63
I am closing this one, because @fdarveau had success with windows deployment.

[2020-12-08 03:15] #63 closed

[2020-12-08 11:51] 42wim commented on #74
No, not working yet.

[code]

[code]

Your code change looks if a id_token or access_token exists, but they always will both exist (afaik), the issue is that in this case only access_token has a claim email while the id_token doesn't has that claim, but does have other claims like iat, aud, etc ..

[2020-12-08 12:08] greenpau commented on #74
@42wim , please post the data structure here. It would help addressing the issue.

Also, which product/service?

[2020-12-08 12:29] 42wim commented on #74
what data structure?
product is keycloak

This works btw, but ofcourse breaks other flows https://github.com/42wim/caddy-auth-portal/commit/de983a452ea75fb4abd3be43f629aedb6d72daf3

[2020-12-08 13:05] greenpau commented on #74
@42wim , please post the JSON you get where you have id_token and acess_token

[2020-12-08 13:26] 42wim commented on #74
{
 "access_token": "jwtstring",
 "expires_in":300,
"refresh_expires_in":1800,
"refresh_token":"jwtstring",
"token_type":"bearer",
"id_token":"jwtstring",
"session_state":"string",
"not-before-policy":0,
"scope":"openid profile email"
}

[2020-12-08 13:36] greenpau commented on #74
@42wim please decode both “jwtstring” values at jwt.io , replace personal identifiers with placeholders, and post it here.

[2020-12-08 13:39] greenpau commented on #74
@42wim , I tried to find how it looks myself, but even redhat did not decode it :-)

https://developers.redhat.com/blog/2020/01/29/api-login-and-jwt-token-generation-using-keycloak/

The json payload is at the bottom of the page.

[2020-12-08 13:53] 42wim commented on #74
I'll do later when I have time to actually fetch one.
But they just look like any other.. except the access_token has a `email` Claim and the id_token doesn't

[2020-12-08 14:00] 42wim commented on #74
More information here btw: https://openid.net/specs/openid-connect-basic-1_0.html#UserInfoResponse

[2020-12-08 14:08] greenpau commented on #74
@42wim , I would not have asked you to provide me how it looks unless it was necessary. Each implementation has its intricacies. That's why I need the exact thing you receive from keyclock.

[2020-12-08 14:15] greenpau commented on #74
@42wim , check this out ... when I am reading this I don't know whether you mean that (1) `access_token` has that same exact fields as `id_token` or (2) `access_token` has only email field and `id_token` has all the rest of the fields.

[2020-12-08 17:00] greenpau commented on #74
@42wim , have you considered re-configuring the Keycloak server to include email address in `id_token`? just a thought...

[2020-12-08 19:27] 42wim commented on #74
Here you go:

accestoken:
[code]

id_token:
[code]

Yes, but I'm not the administrator of keycloak, so I can't do that.

Access token are variable depending on the application extra claims/metadata will be added.
Afaik there is no rfc that specifies the email claim must exist in the id_token

[2020-12-08 19:44] greenpau commented on #74
@42wim , so you care about passing the roles from the below?

  "realm_access": {
    "roles": [
      "xxx",
    ]
  },

[2020-12-08 19:59] 42wim commented on #74
@greenpau ideally yes, but also the `privateAttribute` claims and `preferred_username` :-)
But I think this is out the scope of this issue

[2020-12-08 21:26] greenpau commented on #74
@42wim , I just released [v1.3.7](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.7). Please add  `identity_token_name` directive and test it.

[code]

[2020-12-08 21:52] xombiemp commented on #13
@greenpau I used OTP Auth on iOS.

[2020-12-09 00:08] 42wim commented on #74
Spent way too much time on debugging `token validation error  {"error": "user invalid"}` in my test setup.
Conclusion, caddy-auth-portal is always setting its cookie to `Secure` even on `http://` which causes this error (and creating a loop). Should I open another issue for this?

Wrt your current fix, it works, thanks! :+1:

But isn't it better to look into both id_token and access_token to find

[2020-12-09 00:22] greenpau commented on #74
@42wim , yes.

That way users don't need to specify the identity_token_name (which most of the users probably don't even know how to debug this).

Idk what is better. I think having a single source of truth is better. Hence, I do not unpack both. Side note, when I receive a token, I unmarshal it to a “limited” JWT claims. In your case, the fields the claim care about exist in access_token.

See al

[2020-12-09 00:25] greenpau commented on #74
@42wim , I think the goal is having “provider” for each service/product is better. This way, a user does not need to think about custom directives. In this case, I would say “keycloak” may be necessary. It may simplify configuration due to some defaults.

[2020-12-09 00:31] greenpau commented on #74
@42wim , I recommend using https://github.com/greenpau/caddy-trace

And adding “response_debug” arg

[2020-12-09 02:48] tgelite opened #75 "Not all bcrypt-cli's are equal?"
Just a note here in case anyone runs into it:

the npm bcrypt-cli I installed did not produce a  "hash": string that was usable in the user_db.json for the local config.  I had to use the indicated go bcrypt-cli.

I'm on raspbian lite OS 32 bit on arm7 so something strange might be going on, but wanted to share (after an extended troubleshooting session)

If anyone else notices this, we might need

[2020-12-09 02:52] tgelite commented on #75
nevermind we're still locked out, sorry.

[2020-12-09 02:52] #75 closed

[2020-12-09 02:52] tgelite commented on #75
issue is not valid.

[2020-12-09 09:44] 42wim commented on #74
Well, the problem with on-premise/hosted setups like keycloak is that everyone can configure it how they like, there's no rule to put email in access_token or id_token, so some keycloak setups will have it in one, both or none :)

[2020-12-09 14:19] greenpau commented on #74
@42wim, point taken :-)

When I was working on Okta integration, I had to do some custom config. Please take a look at the screenshots [here](https://github.com/greenpau/caddy-auth-portal#okta). I say Keycloak admin can probably configure passing any info :-)

[2020-12-09 14:20] greenpau commented on #74
@42wim , specifically this screenshot.

![image](https://user-images.githubusercontent.com/3826416/101641437-bcaf9780-39ff-11eb-819b-faa1903d9b18.png)

[2020-12-09 16:11] nxadm commented on #74
"ID Tokens MAY contain other Claims. Any Claims used that are not understood MUST be ignored."
The known claims are `iss`, `sub`, `aud`, `iat`, `auth_time`, `nonce`, `acr`, `amr` and `azp`.  `email` is not standardized for the ID token. See: https://openid.net/specs/openid-connect-core-1_0.html#IDToken

`email` *is* standardized when requesting claims scopes, and thus in Access Tokens: https://ope

[2020-12-10 06:19] MxdStudio opened #76 "Always redirect to the "sign in" page"
**Describe the issue**

When authentication succeeded, it returned to the "sign in" page, not the url that what I Inputed.
1. I inputed the url "http://xxx.xxx.xxx.xxx:8888"
2. It jumped to "http://xxx.xxx.xxx.xxx:8888/auth" automatically.
3. I inputed the username&password, clicked the login button.
4. It should be into "http://xxx.xxx.xxx.xxx:8888", but it jumped to "http://xxx.xxx.xxx.xxx:8888/

[2020-12-10 09:32] greenpau commented on #76
@MxdStudio , the issue is that you are putting default route (which matches first) prior to more specific routers.

You need to move the default “/*” to be at the end of the config. Try it. If it does not work, I will be back online 9am EST.

[2020-12-10 09:37] greenpau commented on #76
@MxdStudio , also, once you login do you see your portal links?

[2020-12-10 10:08] greenpau commented on #76
@MxdStudio , also remove the following from you config. Thay is the same as having a second default route.

route {
        redir http://{hostport}/auth 302
    }

[2020-12-11 22:56] greenpau commented on #76
Closing, no activity.

[2020-12-14 03:51] MxdStudio commented on #76
@greenpau
Thank you for reply.

I tried, but it didn't work.

I did :
1. I removed the following from my config.
`route {
redir http://{hostport}/auth 302
}`
2. I moved the default “/*” to be at the end of the config.

After these, my config became :
`{
    http_port 8888
    debug
}

xxxx.xxxx.xxxx.xxxx:8888 {

    route /auth* {
        auth_portal {
            path /auth
            backends {

[2020-12-14 12:02] greenpau commented on #76
@MxdStudio , I think the issue is that you are using HTTP, not HTTPS. The authentication cookie you get is “secure http-only”. Try adding “tls” and retrying.

[2020-12-14 12:04] greenpau commented on #76
@MxdStudio , this explains what “secure httponly” means https://blog.dareboost.com/en/2019/03/secure-cookies-secure-httponly-flags/

[2020-12-15 21:03] greenpau commented on #13
currently, I am working on U2F Registration ... a bit delayed in terms of progress.

[2020-12-16 13:53] tgelite opened #77 "caddy-auth-portal local authentication password management fails on windows"
**Describe the issue**

When attempting to use caddy-auth-proxy on windows 10 with local authentication configured, I can not set the webadmin password in a way that works in my user-db.json file, following the https://github.com/greenpau/caddy-auth-portal#password-management instructions.

Note that we have found no issue in our linux instance of caddy configured the same way.  A windows based de

[2020-12-16 14:00] greenpau commented on #77
@tgelite , try troubleshooting this one. Also, could you generate a hash that works on Linux, but does not work on Windows?

[2020-12-16 14:05] tgelite commented on #77
Yeah I was just doing that and the hash of that same password from our linux dev system works!  So there is something strange going on with the windows go bcrypt-cli?

[2020-12-16 14:48] greenpau commented on #77
@tgelite , it could be ... my guess is that `echo` on Windows works differently from Linux. Try looking in that direction.

[2020-12-16 14:49] greenpau commented on #77
@tgelite , for example `\n` (linux) vs `\r\n` (windows).

[2020-12-16 16:03] tgelite commented on #77
ah interesting, I'll take a look at that for a working command line for windows to update the docs later today (meeting hell now)...

[2020-12-16 16:11] greenpau commented on #77
@tgelite , also look at `echo on` and `echo off` implications.

[2020-12-16 17:06] craigfrancis opened #78 "feature: WebAuthn support"
Following on from:

https://github.com/w3c/webauthn/issues/1362#issuecomment-746624274

https://github.com/greenpau/caddy-auth-portal/blob/cb90d8656989a35ede780bdedcb21e555aea08ad/assets/templates/basic/settings.template#L607-L635

I don't have the time to debug the code at the moment, but have a look at how I implemented the getPublicKey() polyfill.

In particular, the bit where I use the `result

[2020-12-16 17:17] greenpau commented on #78
@craigfrancis , once again, thank you for much! I will review and follow up with questions.

[2020-12-16 18:52] tgelite commented on #77
There is a combination of issues here:

Linux bash handling:
[code]

Windows cmd and powershell (and of course they are different).   Note even without the quotes powershell is breaking, i've tested with "ON" and "OFF" contexts with same results.

[code]

This approach below with cat worked regardless, creating a text file with no CR/LF after the password and using cat to present the password via

[2020-12-17 14:26] #76 closed

[2020-12-24 06:11] MxdStudio commented on #76
**Feedback:**
It worked by using HTTPS.

Thank you very much.

[2020-12-24 15:02] avbel opened #79 "Failed validating OAuth 2.0 access token: failed to parse access_token: token contains an invalid number of segments for Google"
**Describe the issue**
Hi.
I tested using of auth portal with caddy. I configured it to use Google. My config is bellow. But  now I have "Authentication Failed" (401) error with a very strange description in the log. You can see in the log that Google auth part was finished with success. An error is thrown on parsing received access token.

**Configuration**
[code]

**Version Information**

Caddy

[2020-12-24 16:02] greenpau commented on #79
@avbel , please remove the below line and retry

identity_token_name access_token

[2020-12-24 17:24] barnardh opened #80 "Local authentication working over IPv4 but not working over IPv6 for localhost"
**Describe the issue**
Local authentication is working as expected in the Firefox browser but not in Chrome, Microsoft Edge and Internet Explorer on Windows 10.

In all browsers I go to http://localhost:2016/auth/portal which redirect me to http://localhost:2016/auth

The username is:- test
The password is:- test

The logs show that Firefox is using 127.0.0.1 which is IP v4 and working as expected

[2020-12-24 17:37] greenpau commented on #80
@barnardh , what comes to mind is http vs https.

Are you using http or https?

note “ :2016” is bound to http port.

i usually have a redir from http to https.

see https://github.com/greenpau/caddy-auth-portal/blob/7b11bec50d9266d66e995de26103757d6836a26e/assets/conf/ldap/Caddyfile

Thank you for opening the issue! Please continue asking questions. Will help you out!

[2020-12-24 17:38] greenpau commented on #80
@barnardh wrong pointer. See https://github.com/greenpau/caddy-auth-portal/blob/7b11bec50d9266d66e995de26103757d6836a26e/assets/conf/local/Caddyfile for local auth

[2020-12-24 18:08] barnardh commented on #80
Thank you for your help Paul.

Working as expected.

[code]

[2020-12-24 18:08] #80 closed

[2020-12-24 19:51] barnardh opened #81 "Error during parsing: unrecognized directive: jwt"
**Describe the issue**
I copy and pasted the code https://github.com/greenpau/caddy-auth-portal/blob/7b11bec50d9266d66e995de26103757d6836a26e/assets/conf/local/Caddyfile

When I try to validate the Caddyfile, I get the following:_

[code]

I have used xcopy to build caddy

[code]

[code]

A clear and concise description of what the issue is.

**Configuration**

Paste full `Caddyfile` below:

[code

[2020-12-24 20:11] greenpau commented on #81
@barnardh , you need to build like this:

xcaddy build --with github.com/greenpau/caddy-auth-portal@latest --with github.com/greenpau/caddy-auth-jwt@latest

[2020-12-24 20:26] barnardh commented on #81
Thank you Paul, this resolved my problem.

[2020-12-24 20:26] #81 closed

[2020-12-25 06:27] avbel commented on #79
@greenpau  I did that. And now i see another error: **"failed validating OAuth 2.0 access token: failed to parse id_token: Token used before issued**
[code]

[2020-12-25 07:04] avbel commented on #79
Hrm. I synchronized time on the server manually. Now the request to /test returns 500.

[code]

[2020-12-25 21:13] greenpau commented on #79
@avbel , обращайся ещё ;-)

[2020-12-26 03:41] #79 closed

[2020-12-31 01:06] tgelite commented on #77
Sorry about delay - quick note to anyone testing this - exit browser/clear cookies as you iterate through testing this.  You will hit false positive failures on changing password and just restarting caddy.  I got this working, I just need to verify what steps produced a working password hash string.

[2020-12-31 13:04] pemontto commented on #13
Adding comment here for interest. I've added and tested tokens with Google authenticator and 1Password. Hoping to be able to enforce the use/registration of MFA for users.

[2020-12-31 14:34] greenpau commented on #13
@pemontto , I am working on webauthn at the moment. Once finished, I would move to the creation of UI interface for token prompting. In sum, will keep you posted!

[2021-01-02 21:49] greenpau commented on #78
@craigfrancis , Happy New Year! 🎉

I am getting back to it! I use CBOR from [github.com/paroga/cbor-js](https://github.com/paroga/cbor-js).

https://github.com/craigfrancis/webauthn-tidy/blob/85b8f53648a628e0a8f1866d450960008b18a75c/new/js/polyfill.js#L472-L474

It looks like you are using slightly different CBOR implementation. In the implementation I use, there is no `length` to `publicKeyObject

[2021-01-02 21:54] greenpau commented on #78
@craigfrancis, the CBOR code I am referring to starts [here](https://github.com/craigfrancis/webauthn-tidy/blob/85b8f53648a628e0a8f1866d450960008b18a75c/new/js/polyfill.js#L46) and returns length over [here](https://github.com/craigfrancis/webauthn-tidy/blob/85b8f53648a628e0a8f1866d450960008b18a75c/new/js/polyfill.js#L416-L419).

[2021-01-02 22:25] craigfrancis commented on #78
I’ll check it over again when I get back to my computer, but if memory serves, I had to modify the CBOR decoder a bit to return the length, and stop itself when it’s at the end.

Again, I’m relying on my memory here, but I think WebAuthN uses a feature of CBOR, where it encodes the length in itself (as in, this field is X bits long, next, this field is Y bits long, etc, now we get to the end, and

[2021-01-02 22:41] greenpau commented on #78
Added this image for my notes.

![](https://www.w3.org/TR/webauthn-1/images/fido-attestation-structures.svg)

[2021-01-02 23:19] eliaharm commented on #13
Hello, thank you for that very nice plugin and all the features.
Will you also add some method for resetting MFA if a user looses his device or etc?

[2021-01-02 23:30] greenpau commented on #13
@eliaharm , yes. Currently, I am working to get the WebAuthn going. It is my priority.

[2021-01-03 11:47] craigfrancis commented on #78
Yep, that's the image I was using, from the [Attestation](https://www.w3.org/TR/webauthn-2/#sctn-attestation) section of the WebAuthN spec.

As to what I did, well, you've already identified the key points...

I'm also using [github.com/paroga/cbor-js](https://github.com/paroga/cbor-js/blob/master/cbor.js), which I hope I've credited them correctly on [line 41](https://github.com/craigfrancis/weba

[2021-01-03 22:26] greenpau commented on #78
@craigfrancis , thank you looking at it 👍

Interesting observation ... not on topic, but still relevant.

[code]

Apparently, if I take the first element of `x5c` array, base64 decode it and run the following SSL command, I get a valid cert.

[code]

[code]

[2021-01-04 10:59] craigfrancis commented on #78
I think that's the certificate for the authentication device, when doing a full attestation check.

When calling `navigator.credentials.create(options)`, the `options['publicKey']['attestation']` will normally be set to 'none', to avoid the "Allow this site to see the make and model of your security key" permission check.

I doubt many sites will use this, unless you're going to be checking the fu

[2021-01-04 13:02] greenpau commented on #78
@craigfrancis , good to know! 👍

I think this could be handy.

[2021-01-04 13:14] craigfrancis commented on #78
If you're a bank, and you're providing the devices to customers; or a company providing them to employees; you know the manufacturer, and that *might* be a useful feature.

But for most websites, who cares where the device came from?

This check also adds an extra step during the enrolment process (where some people, typically the ones who know more about this stuff, might wonder why you want to k

[2021-01-05 17:27] greenpau commented on #78
just in case someone find it ...

The `sig` field in the attestation object:

[code]

gets decoded as follows. Big thanks to @francislavoie for the pointer to [ASN.1 JavaScript decoder](https://lapo.it/asn1js/).

![image](https://user-images.githubusercontent.com/3826416/103675969-89a0eb00-4f4e-11eb-952a-f4a449699a05.png)

[code]

The result follows.. The first 2 bytes (`30 44`) indicates it is a

[2021-01-05 17:52] craigfrancis commented on #78
Oh, that's interesting... that's similar to the (erm, cheats way) I created the DER encoding of the public key:

https://github.com/craigfrancis/webauthn-tidy/blob/85b8f53648a628e0a8f1866d450960008b18a75c/new/js/polyfill.js?ts=4#L483

Where my prefix is used to say it's DER encoded, `ecPublicKey`, using `prime256v1`, followed by the key value, marked `ECC uncompressed`.

With your signature, with

[2021-01-05 17:57] greenpau commented on #78
@craigfrancis , that's the question I am asking myself right this moment 😃 That's why it is fun to explore :-)

[2021-01-07 06:11] SvenDowideit opened #83 "can I configure multiple ldap_backends?"
We have different LDAP servers, but I'd like to create this site allowing login for users from either.

I tried by having 2 ldap_backend's in the single backend section, but the caddyfile parser didn't like that
Then I tried using 2 separate routes, one for each, but that results in a run time error:

[code]

I don't know what the expected result it - is caddy-auth coded to permit only one ldap_ba

[2021-01-07 11:30] greenpau commented on #83
@SvenDowideit , short answer is yes. Please post your config.

[2021-01-07 11:38] greenpau commented on #83
@SvenDowideit , you dont need multiple routes. Just call them ldap_backend1 and ldap_backend2. The realm names should be different. I will provide more feedback once I see you Caddyfile.

[2021-01-07 22:33] SvenDowideit commented on #83
bingo - I'd totally forgotten the caddyfile `1`, `2` thing :/

that gets me 2 almost working ldap_backends, with one interesting issue - both backends are using the second backend's configured username and password, which therefore means it fails to be able to use the first backend

(at least, that's what the `ERROR	http.handlers.auth_portal	LDAP connection binding failed` line shows)

digging dee

[2021-01-07 22:41] greenpau commented on #83
@SvenDowideit , each backend is independent of each other. Each backend handled unique domain. If you want to have a fallback, then you have multiple servers, e.g.

[code]

Also, each `realm` creates an entry in a dropdown on a login page.

@SvenDowideit , please post your Caddyfile. Do you have different `realm` for each `ldap_backendX` in your config?

https://github.com/greenpau/caddy-auth-port

[2021-01-07 22:42] greenpau commented on #83
@SvenDowideit , I switched the plugin to work with Caddyfile.

[2021-01-07 22:50] SvenDowideit commented on #83
i'm refering to the json that caddy uses after the caddyfile has been parsed.

yes, the backends have different realms.

so, I've hopefully removed all the internal secrets from this - and for the latest test, I switched the order of ldap_backend1 and ldap_backend2 - which results in ldap_backend2 (now earlier in the list of backends in the caddy json that is used internally) failing to authentica

[2021-01-07 23:17] greenpau commented on #83
@SvenDowideit , have you tried using fqdn and trusted_authority? Please see https://github.com/greenpau/caddy-auth-portal#ldap-authentication-backend

[2021-01-07 23:21] SvenDowideit commented on #83
fqdn ? if you mean for the ldaps://server - yes, I am, that's elided for reasons.
and i don't see what trusted authority has to do with it - the wrong username is being sent to the first ldap_backend, and the error message above shows this.

[2021-01-07 23:25] greenpau commented on #83
@SvenDowideit , just two clarify. You have two different domains. The authentication to one of the domains does not work. The other works fine. Correct?

[2021-01-07 23:25] greenpau commented on #83
realm = domain

[2021-01-07 23:26] SvenDowideit commented on #83
correct, and when I swap the order in the caddyfile (with no changes in text), the one that works switches to the one that is last in the file

[2021-01-07 23:27] greenpau commented on #83
@SvenDowideit , it supposed to be that each backend definition is a separate instance.

[2021-01-07 23:29] SvenDowideit commented on #83
I don't think I understand - are you saying that ldap_backend1 and ldap_backend2 in the one backends section isn't supported?

[2021-01-07 23:30] greenpau commented on #83
@SvenDowideit , please see https://github.com/freescout-helpdesk/freescout/issues/869#issuecomment-728258632

perhaps you are having the same issue with how binding username is set up.

[2021-01-07 23:32] greenpau commented on #83
@SvenDowideit in your config the two backends are separate. You are good there.

[2021-01-07 23:32] SvenDowideit commented on #83
I think the error I put in the message above shows somewhat clearly that the first ldap_backend is being sent the username that is in the second ldap_backend's configuration

[code]

[2021-01-07 23:34] SvenDowideit commented on #83
both the server and username values have been shortened and faked to avoid sending out internal info - they're both fully qualified.

[2021-01-07 23:34] greenpau commented on #83
@SvenDowideit , please paste html for the dropdown on the login page

[2021-01-07 23:36] greenpau commented on #83
@SvenDowideit , it does not make sense that a backend sends username associated with another backend.

[2021-01-07 23:41] SvenDowideit commented on #83
<!doctype html>
<html lang="en">
  <head>
    <title>Sign In</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication Portal">
    <meta name="author" content="Paul Greenberg github.com/greenpau">
    <link rel="shortcut icon" href="/auth/assets/images/favicon.png" type="image

[2021-01-07 23:42] greenpau commented on #83
@SvenDowideit , I need to look at it a bit more. Perhaps, there is a bug.

[2021-01-07 23:48] greenpau commented on #83
@SvenDowideit , what happens when you have only 1 LDAP backend at a time? Do they both work?

[2021-01-07 23:50] SvenDowideit commented on #83
yes, each ldap_backend works in isolation, and when there are 2, the last one works, and the first one fails with an error that contains the username of the second.

[2021-01-08 00:14] greenpau commented on #83
@SvenDowideit , I submitted https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.10. Please compile with that version and let me know the results.

[2021-01-08 00:15] greenpau commented on #83
@SvenDowideit , if it works, then I will promote it to `latest`.

[2021-01-08 00:31] greenpau commented on #83
@SvenDowideit , I confirmed, this was a bug.

[2021-01-08 00:31] SvenDowideit commented on #83
@greenpau yes, confirmed! all 2 ldap backends and the local one work with v1.3.10

[2021-01-08 00:33] greenpau commented on #83
@SvenDowideit , thank you for reporting this! This is resolved now? Also, please promote the plugin via your blog and the social media platforms.

[2021-01-08 00:34] SvenDowideit commented on #83
yup, fully resolved - thanks for your help!

[2021-01-08 00:34] #83 closed

[2021-01-08 06:08] SvenDowideit opened #84 "request for advice - I need to add roles to the jwt / claim header for LDAP"
but I can't add groups to the LDAP service

I'm wondering if there's a right way to modify the jwt from a downstream plugin, or if there's some other way it would make sense when using caddy-auth-portal.

these roles are expected to be managed by non-ops, so modifying the caddyfile isn't really going to work (well)

mostly, I'm curious to know how you'd do it  :)

[2021-01-08 11:52] pohlt commented on #13
@greenpau Thanks for your hard work! MFA handling works for me (using Bitwarden).

Two comments / questions:
* Currently, the login portal does not ask for the MFA. This is still WIP, right?
* You decided to use a very long secret. In some corner cases, it might be necessary for the user to type in the secret (because the app on the phone does not support copying or scanning QR codes or ...). A ra

[2021-01-08 14:16] greenpau commented on #84
@SvenDowideit , say LDAP user object has a number of groups associated with it. These groups could be either distribution lists or security groups. At first, it seems reasonable to dynamically figure out which ones are "security groups" and add them as role names. Now, ask yourself:

- Do I put the entire DN as role name?
- How do I determine which groups I am interested in?

That's why defining a

[2021-01-08 14:19] greenpau commented on #13
Yes, it is. I need to finish webauthn prior to building MFA prompts.

I will think about adding an option on a page to allow for shorter shared key. There will be some toggle to do it.

[2021-01-09 01:23] SvenDowideit commented on #84
That's the problem, the LDAP we're using for authentication has no groups, and we can't add any (for reasons) - and we want to manage roles (ie, authorization) in an application specific way

So the LDAP group -> role approach can't be used - and I'm wondering what you'd do instead.

[2021-01-09 02:12] greenpau commented on #84
@SvenDowideit , what is the source of "authorization" information, i.e. what a particular user is allowed/prohibited to access?

[2021-01-09 03:51] SvenDowideit commented on #84
Probably a separate database or file.
That's part of what I'm asking... We can't modify LDAP, but we can setup anything as an extra service.

[2021-01-09 16:50] greenpau commented on #84
@SvenDowideit , I would recommend setting up https://www.keycloak.org/ server and one-way synching identities from LDAP. Then, enhancing identities with group/role data in keycloak. Then, exposing OAuth2.0 interface. Then, within this plugin, you do OAuth2.0 integration and you are all set. See also https://github.com/greenpau/caddy-auth-portal/issues/74#issuecomment-741058767

[2021-01-10 05:44] SvenDowideit commented on #84
ah, fair enough - I'm working to move away from keycloak - we have low traffic sites where its more useful to be as lightweight as possible.
So i'm thinking i'll look into either making a local modification of your code, or having a downstream plugin modify / replace the jwt that you're making in caddy-auth-portal - just adding roles, using some simple data-store (likely start with json file, and

[2021-01-10 14:59] #84 closed

[2021-01-11 08:47] brendanardagh commented on #14
From what I understand MFA is available for configuration but is not enforceable at the moment, would you like contributions or are you perhaps planning to implement this sometime in the near future?

PS. Thanks for a much needed plugin!

[2021-01-11 14:32] #14 closed

[2021-01-16 12:32] samyak-jain commented on #20
Hey @greenpau, I was reading your conversation at authelia/authelia#1248 and it is not clear to me how we can intergrate this plugin with authelia. Do you mind shedding some light into how that would exactly work?

[2021-01-16 16:49] greenpau commented on #20
@samyak-jain , idk. I never installed `authelia`.

[2021-01-20 08:23] clems71 opened #86 "Complete MFA workflow"
**Describe the issue**

Looked at the code base. Seems like everything is setup to store and set MFA tokens. Been able to test it on my setup and works fine.

Seems like the workflow is not complete yet though. I looked at login.go/ServeLogin. Would love to contribute back in implementing that, with some guidance from you @greenpau . I guess it is quite backend specific, because Google OIDC, or Ok

[2021-01-23 01:37] greenpau commented on #86
@clems71 , I am working on the MFA in #14 . Please subscribe to it. Closing this one. Let’s keep all the discussion there.

You asked good question about the backends. short answer - i want MFA for local auth primarily.

[2021-01-23 01:37] #86 closed

[2021-01-23 01:38] greenpau commented on #86
It is #13.

[2021-01-26 01:29] tgelite commented on #77
Ok so I've been able to come back to this and test fresh.  The issue was not properly exiting browser after changing credentials during testing (when performing the bcrypt-cli correctly).

This works in windows 10 on powershell

1) generate your new password, following the command example.  Make sure you have installed the necessary bcrypt-cli for windows via npm
[code]
Stop your caddy server
Edit

[2021-01-26 01:30] tgelite commented on #77
Sorry for the confusion there, its working OK

[2021-01-26 01:30] #77 closed

[2021-01-26 01:55] tgelite opened #87 "[Question] Local authentication mixed with user registration?"
**Describe the issue**

These questions have to do with local user registration from caddy auth portal.

1) can I use the existing "user_db.json" as the starting file for the "registration_db.json" so that we keep the superuser and registered users for authentication in the same file?  **UPDATE: YES**

2) I'm assuming we would edit the javascript and template to allow for a "role" to be defined in

[2021-01-26 02:06] tgelite opened #88 "[Question] Do we need to compile Caddy_auth_portal from source to introduce new templates?"
**Describe the issue**

Reading through the templates, and attempting to introduce a new "set" of templates, it appears that they must be present at time of caddy compilation to be referenceable with the template definition?

At some point we will need to in earnest produce a unique set of templates that we invoke, and I'm checking if my working assumption is correct that we will need to create th

[2021-01-26 16:50] greenpau commented on #88
@tgelite , you are correct. You can reference your templates as described here: https://github.com/greenpau/caddy-auth-portal#theming

[code]

Does this answer your question?

[2021-01-26 16:54] tgelite commented on #88
That provides all the mappings, yes, thank you very much.

[2021-01-26 16:56] tgelite commented on #88
Yes, thank you, the detail on the set of static mapping helps as well.  Thanks.

[2021-01-26 16:56] #88 closed

[2021-01-26 16:58] tgelite commented on #87
Also - updated to latest caddy & auth portal last night too:

[code]

[2021-01-27 03:25] tgelite commented on #87
One thing I'm not clear on is what URI to use to hit the registration page in the auth portal?  /auth/reg or /auth/register does not work...

[2021-01-27 03:40] tgelite commented on #87
Ok so the base URI is /auth/register.  It appeared to properly register my user over the common user_db.json.  It sets the user's role to "registration pending" in that file.

I'm wondering if I can make the /auth/register path a protected path by JWT so that only our "admin" and "superuser" roles can access the registration page.

I'll continue to research the path to customizing this.

[2021-01-27 04:04] greenpau commented on #87
@tgelite , my original idea was to have a way to promote registered user to user db. However, I did not get to it yet.

[2021-01-27 04:05] greenpau commented on #87
The two files are not interchangeable. They just use the same format.

[2021-01-28 00:58] tgelite commented on #87
Ah ok, that makes sense, I was wondering if there was some kind of "planned" portion of this to pull from registration and update user db.

I'll take a look at that with our devs as a process we could build for user registration "approval".  We're working in node.js not go unfortunately but if we work something out we'll post to public github.

I think we'll modify from admin register and use the

[2021-01-28 00:58] #87 closed

[2021-01-28 02:32] starcoder204 commented on #88
![image](https://user-images.githubusercontent.com/56172389/106081468-3d923200-6119-11eb-8183-3f8722607b60.png)

I think this describes we don't need to compile caddy_auth_portal from source to use different templates.
Am I wrong?

[2021-01-28 02:43] greenpau commented on #88
@starcoder204 , no need to compile. Just reference templates on disk.

[2021-01-28 02:45] starcoder204 commented on #88
Yes. Thanks for your confirmation :) @greenpau

[2021-01-28 13:01] jloh opened #89 "[Feature] Auto redirect to oauth2 backend if only a single one is configured"
**Describe the issue**

I only have a single backend configured (GitHub) and to login each time I have to click the GitHub button to be redirected back to my app. It would be great if I was automatically sent to GitHub when I'm not logged in to save me this extra click.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide output of `caddy list-modules -versio

[2021-01-28 15:28] greenpau commented on #89
@jloh , fyi, typing on my phone ;-)))

have you though of having auth plugin being hosted at path “/auth”, and having “/“ redirecting to “/auth/oauth2/github”?

also, in you “git.example.com” you could specify the following to auto-redirect to github.

auth_url https://auth.example.com/auth/oauth2/github

does this help?

[2021-01-30 03:56] jloh commented on #89
Perfect, that worked great. Thanks for your help!

[2021-01-30 03:56] #89 closed

[2021-01-30 04:19] jloh opened #90 "feature: increase cookie life time"
**Describe the issue**

At the moment the cookies that get specified by the portal only live for the users session and get deleted/expire after that. It'd be great to be able to control this or alternatively sync it up with the JWT token life time.

The cookie set the the portal currently has an Expires / Max-Age of "Session". I couldn't find where this comes in the code base so maybe its the defa

[2021-01-30 14:24] greenpau commented on #89
@jloh ,  awesome! 👍 It would help other if you paste your resultant config here.

[2021-01-30 17:15] greenpau commented on #90
@jloh , thank you for the issue! The thought process around it is not in docs. I will provide answer inline and provide context to other readers, if any. Perhaps, at some point, will bring it to docs.

This is correct. The cookie attributes are being set here.

https://github.com/greenpau/caddy-auth-portal/blob/a56fc4f223b28e543d7a4c99c7edf7cc423dce3b/pkg/cookies/cookie.go#L29-L41

This function i

[2021-01-31 01:37] jloh commented on #89
Whoops, good call!

The resulting Caddyfile was this:

[code]

Note the changes to `auth_url` in `git.example.com` and the change of moving the portal to `/auth` along with a new base route which redirected to the oAuth flow.

Another approach to this could've been to just change the `auth_url` for `git.example.com` and sending it straight to the flow. This would've meant I didn't need to change t

[2021-01-31 02:53] jloh commented on #90
Maybe my understanding of how JWT age/lifetime works is wrong, but shouldn't Cookie lifetime be equal to JWT token lifetime? No point having the Cookie expire before the token, or the other way around. As such, shouldn't these match? It would mean there isn't a requirement to introduce a new config option, could just be based off the `token_lifetime` param with some docs updates.

Assuming this is

[2021-01-31 04:07] greenpau commented on #90
@jloh , what you said makes sense. We could create a directive for max age. Also, please see if you can find this useful https://github.com/greenpau/caddy-auth-portal/blob/main/CONTRIBUTING.md#development-environment.

This could be one way to get better at Go.

[2021-01-31 04:08] greenpau commented on #90
@jloh , waiting for you PR 👍

[2021-02-01 17:34] tgelite commented on #13
(Note that setup test with google authenticator worked too)

[2021-02-02 04:05] tgelite opened #92 "How to provide a locally served logo image to the caddy templates when / is protected by jwt auth?"
**Describe the issue**

The problem lies in trying to provide a "custom logo" to our customized templates for authentication.

We are working with manually configured template files that have been customized for common look and feel.  When trying to configure the "logo_url" value in the "ui" configuration section for the templates, its not clear where that should be served from in our situation.

[2021-02-02 17:01] greenpau commented on #92
@tgelite , I think my initial idea was to reference externally hosted URLs. Don't think that there is a logic to include the referenced logo into `portal`'s static assets. This is what is necessary here though. I would say it is a feature request.

[2021-02-02 17:01] greenpau commented on #92
@tgelite , what images do you have here? just the logo?

[code]

[2021-02-02 19:09] greenpau commented on #92
@tgelite, will see about adding the local logo path to serving static assets.

[2021-02-03 00:43] tgelite commented on #92
Awesome!  I'll keep an eye out for this in the future!  Do you need me to close this and open a specific feature request?

[2021-02-03 01:12] greenpau commented on #92
@tgelite , this would be the feature request.

[2021-02-03 12:13] bigbydesign commented on #13
I am wondering if it is possible to just setup your plugin to do MFA. The setup constraint would be that I want to have users use the Microsoft o365 authenticator code for their account to allow the proxies requests to complete. If this is not possible, can one authentication allow the JWT token for multiple sites? i.e. I authenticate to the portal and now I have access to 5 sites on caddy? Forgiv

[2021-02-03 12:53] greenpau commented on #13
@bigbydesign , great question! Please open a separate issue for that and delete your comment from here. I will answer your question in a separate issue.

[2021-02-03 14:13] bigbydesign opened #93 "o365 MFA only Authentication (via Microsoft Authenticator) or OAuth2 validation for multiple caddy sites"
I am wondering if it is possible to just setup your plugin to do just MFA. The setup constraint would be that I want to have users use the Microsoft o365 authenticator code for their account to allow the proxies requests to complete. I am intending on using this for exposing Intranet sites to the internet that don't support MFA. factor authentication.

 If this is not possible, can one authenticat

[2021-02-05 14:26] greenpau commented on #93
@bigbydesign , if all 5 sites are in the same domain, then you can authenticate only once and the token you get will be valid of all sites. The “cookie_domain” directive allows specifying a domain name.

what is the authentication backend you will be using? Loca, ldap, oauth, etc...

[2021-02-13 20:19] greenpau commented on #93
Stale issue. Closing.

[2021-02-13 20:19] #93 closed

[2021-02-14 01:51] greenpau commented on #90
@jloh , I am working through this and here is what I am discovering during similar testing you did.

I will share my code in a new commit for you to see later. By the way, this was a good exercise for me because I created a few useful test functions! 👍

This is all happens inside `TestCookieLifetime` unit test.

Step 1: my authentication request, see traceable `02701cc2-4e7f-4efa-829e-d7d7ba652ac5

[2021-02-14 03:31] greenpau commented on #90
After updateding to caddy-trace v1.1.5, I can see the cookies in the response.

Next place to check is the `caddytest.Tester` code, i.e. https://github.com/caddyserver/caddy/blob/master/caddytest/caddytest.go

[code]

For now I am just going to pass the cookie lifetime test and add "TODO" for later.

[2021-02-14 03:35] #90 closed

[2021-02-14 03:37] greenpau commented on #90
@jloh , fyi, this is a common pattern for testing. It is worth knowing it.

https://github.com/greenpau/caddy-auth-portal/blob/7665ed8de6d6f3a2d934e96c56e088da62653c76/pkg/cookies/cookie_test.go#L15-L71

[2021-02-14 11:43] greenpau commented on #13
fyi, working through UI design.

## Users **with** 2nd factor configured

Upon successful authentication of a user with MFA-enabled, the plugin will not issue JWT token. Rather, it will create one time `sandbox_id` and store it in Sandbox cache. The cache store maps the `sandbox_id` with a user identity. The `sandbox_id` can only be used once. Next, the plugin redirects the user to a sandbox page

[2021-02-14 12:28] bigbydesign commented on #13
Paul,

This is really great. I like this concept.

-Andy

On Sun, Feb 14, 2021 at 6:44 AM Paul Greenberg <notifications@github.com>
wrote:

[2021-02-14 15:54] greenpau commented on #52
This was reverse proxy plugin issue.

[2021-02-14 15:54] #52 closed

[2021-02-15 20:31] sixtus opened #94 "How to use a single auth instance for multiple sites within a single domain?"
I am trying to run a single auth points for multiple hostnames in a domain.

[code]

seems to do the trick.

However I am running into problems with the `primary` attribute. So far no combination seems to work. Do you have a working example?

I want to secure `a.my.domain` and `b.my.domain`, for login it should redirect to `auth.my.domain/auth` - all servers are configured in the same Caddyfile.

[2021-02-15 20:41] greenpau commented on #94
@sixtus , please collect the information described [here](https://raw.githubusercontent.com/greenpau/caddy-auth-portal/main/.github/ISSUE_TEMPLATE/general-issue.md), because I need it to better understand the issue.

Please see this [example](https://github.com/greenpau/caddy-auth-portal/issues/89#issuecomment-770310449).

Once I see your full config it will be easier to give you advice.

[2021-02-15 20:50] sixtus commented on #94
Thanks @greenpau - I basically got to the point of the linked example and now want to add another server, let's say `prometheus.example.com` and I just couldn't figure it out. But looks like a simply have to put a `jwt` in the 2nd server config. Somehow it only started working *after* I dared to ask for help :)

[2021-02-15 20:58] greenpau commented on #94
@sixtus , resolved? ;-)

Asking a question after doing a little bit of research is almost always the right thing! Please do not hesitate asking in the future!

If the issue is resolved, please paste your final config :-)

[2021-02-15 21:15] sixtus commented on #89
[code]

This example also shows how to use the Microsoft German Cloud, which is eol'd September 2021... good riddance.

[2021-02-15 21:16] sixtus commented on #94
[code]

This example also shows how to use the Microsoft German Cloud, eol'd for end of 2021... good riddance, the changed urls are a pain.

[2021-02-15 21:19] sixtus commented on #94
the `(my-auth)` macro allows me to have the config at the top. And by including it into `auth.example.com` I get around the `primary` singleton.

[2021-02-15 21:28] greenpau commented on #94
@sixtus , thank you for posting the config! Closing?

[2021-02-15 21:29] #94 closed

[2021-02-17 06:04] greenpau commented on #66
@jaysonsantos . I added the issue and added the `AuthenticateDummyUser` function:

https://github.com/greenpau/caddy-auth-portal/blob/21109658e62d134531bd069d4a7723934d8ee6e1/pkg/backends/local/backend.go#L152-L171

It is resolved.

[2021-02-17 06:04] #66 closed

[2021-02-17 07:44] greenpau commented on #13
The App Authenticator screen follows. Will try adding U2F authentication screen by EOW.

![image](https://user-images.githubusercontent.com/3826416/108171772-04bafc80-70ca-11eb-9647-f6137539db19.png)

[2021-03-02 09:57] sixtus opened #95 "Microsoft Azure user w/o email license"
**Access for contractors**

As a caddy-auth-portal admin, I want to give access to remote contractors. The easiest way is to add them as a user, but don't give them any license.

However `scopes openid email profile` implies the user needs an email and my choices are limited to paying for the account or not getting access.

**Configuration**

`scopes openid email profile`

**Expected behavior**

I

[2021-03-02 13:33] greenpau commented on #95
@sixtus , what if you pass “role”/“group” as part of Azure Oauth attributes?

[2021-03-02 13:41] sixtus commented on #95
@greenpau I am not sure I understand. Is that something to put in `scopes`?

[2021-03-02 13:50] greenpau commented on #95
@sixtus , yes. Please look towards the end of Okta section. There is an example of how to add a “group” scope. It is probably very similar with Azure.

[2021-03-02 13:56] sixtus commented on #95
[code]

[2021-03-02 13:58] sixtus commented on #95
not sure what I should put in given these supported scopes. From what I understand, caddy-auth-profile has an implict dependency on email and profile. And I need to replace email with something in the profile

[2021-03-02 15:53] greenpau commented on #95
@sixtus , when you send `scopes` with the value of  `openid email profile` to Azure, Azure will look up rules for `email` and `profile` scopes in its "database" and will return attributes associated with its scope. Say you sent a scope called "groups". Azure will not have it in its database, and therefore it will not return it.

You need to configure that scope. This article explains how to do it:

[2021-03-02 15:57] greenpau commented on #95
@sixtus , another good article: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configuring-groups-optional-claims

[2021-03-02 19:36] bigbydesign opened #96 "feature: Adding Email Two Factor Code"
Paul,

How difficult would it be to query AD or separate db. for the email address field and use it as an optional multifactor to validate identity?

User logins in with AD and then receives an email with the 6 digit key to provide second factor. This is for my users that don't have access to cell phone to validate identity via authenticator app.

Thanks,

Andy

[2021-03-04 13:51] kirsch33 commented on #96
I 2nd this request!

[2021-03-04 14:31] greenpau commented on #96
I think there are facilities allowing to implement something like that. Recently I created a concept of a sandbox. The verification by email could be a thing there.

[2021-03-05 15:11] akvadrako commented on #13
I tested the MFA login on main branch with Bitwarden and it seems to be working well.

[2021-03-05 15:14] akvadrako opened #97 "Crash on first run with local backend."
**Describe the issue**

When I start caddy for the first time without a `users.json` file, it crashes. Starting it a second time and each subsequent time works.

[code]

**Configuration**

[code]

**Version Information**

[code]

**Expected behavior**

Do not crash.

[2021-03-06 16:56] greenpau commented on #97
@akvadrako , just to confirm. The crash occurs only when there is no users.do file?

[2021-03-06 16:58] greenpau commented on #97
Also I don’t think the plug-in works without https.
I was planning adding “insecure” directive to allow less secure cookies.

[2021-03-06 17:00] greenpau commented on #13
@akvadrako , It is incomplete yet :-) it works in a limiting fashion :-)

[2021-03-06 17:46] akvadrako commented on #97
Right, no `users.json`.

I am using it with https, it's just behind another reverse proxy. I think when testing locally it worked though, which is the only time I wouldn't use https.

[2021-03-06 19:14] greenpau commented on #97
@akvadrako , yes :-) locally it might work. This is the line I was referring to:

https://github.com/greenpau/caddy-auth-portal/blob/1d42614c6a75b6a03fbcc7738500a3f06292ed55/pkg/cookies/cookie.go#L45

[2021-03-06 22:57] greenpau commented on #95
@sixtus , please post your complete Caddyfile + screenshots from Azure configuration.

[2021-03-06 22:58] greenpau commented on #92
@tgelite , starting working on this one.

[2021-03-07 00:57] #92 closed

[2021-03-07 00:59] greenpau commented on #92
@tgelite , this is now resolved. You should be able to serve any file. See [Static Assets of Any Type](https://github.com/greenpau/caddy-auth-portal#static-assets-of-any-type)

[2021-03-07 01:12] tgelite commented on #92
Awesome, thanks Paul.  I'll test and update.

On Sat, Mar 6, 2021, 5:59 PM Paul Greenberg <notifications@github.com>
wrote:

[2021-03-07 01:18] greenpau commented on #92
@tgelite , I will tag new version with the patch either today or tomorrow.

[2021-03-07 02:20] #97 closed

[2021-03-07 02:27] greenpau commented on #92
@tgelite , this is now part of [v1.4.5](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.4.5)

[2021-03-07 02:27] greenpau commented on #97
@akvadrako , this is now resolved. Thank you for bringing it up.

When there is no database file, the plugin creates it and output username and password via info log.

[code]

After, the admin could change the password.

The fix is now part of [v1.4.5](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.4.5)

[2021-03-08 21:30] greenpau commented on #13
@pohlt , here is what I implemented. A user may click "here" and change the default token secret.

![image](https://user-images.githubusercontent.com/3826416/110384396-9368cc80-802b-11eb-804e-f6e8414bf7f8.png)

![image](https://user-images.githubusercontent.com/3826416/110384325-76cc9480-802b-11eb-92a1-0fa6fbbef4fd.png)

[2021-03-09 04:23] pohlt commented on #13
Awesome! Thanks for considering my comment. 🙏
________________________________
From: Paul Greenberg <notifications@github.com>
Sent: Monday, 8 March 2021 22:30
To: greenpau/caddy-auth-portal
Cc: Tom Pohl; Mention
Subject: Re: [greenpau/caddy-auth-portal] feature: add microsoft authentication MFA to local auth (#13)

@pohlt , here is what I implemented. A user may click "here" and change the defaul

[2021-03-12 20:29] kaeltis opened #98 "feature: Okta OIDC provider not working with Okta Workforce"
**Describe the issue**

The default `okta` provider currently only supports Okta Developer accounts or Okta Workforce accounts with an additional "API Access Management" license, since those come with support for multiple authentications servers and therefore have a a different OAuth API URL.

Okta Developer / Workforce **with** API Access Management:
[code]

Workforce **without** API Access Manag

[2021-03-12 20:32] greenpau commented on #98
@kaeltis , thank you for raising the issue! Will add it.

[2021-03-15 04:52] richardpowellus opened #99 "After logging in I'm redirected to the "logged in" page instead of going directly to the target website"
**Describe the issue**

I'm using caddu-auth-portal with Azure OAuth2 and everything's working great except for the fact that after I login successfully I get redirected to the "logged in" screen. At that point I can click the link for the website I was trying to access and I can access it just fine. So, for now, I'm not blocked but I do have to do a lot more clicking than I'd like to be doing.

I

[2021-03-15 06:00] greenpau commented on #99
@richardpowellus , please post screenshots of your azure config. Want to see your callbacks.

[2021-03-15 15:46] richardpowellus commented on #99
I only have the one callback set - I guess I'm supposed to have more?

<img width="1006" alt="screenshot" src="https://user-images.githubusercontent.com/1369873/111181044-cf8bb800-856a-11eb-8c85-f0f6a2c096a8.png">

[2021-03-15 16:57] greenpau commented on #99
@richardpowellus , I am reading https://github.com/greenpau/caddy-auth-portal#microsoft and it has only 1 callback. Your screenshot matches.

One thing I noticed here:

[code]

I think the default tour should come last. Please change the order, retry, and report back.

[2021-03-15 17:12] richardpowellus commented on #99
Wow, that was it. So simple. Thanks for the help!

[2021-03-15 17:12] #99 closed

[2021-03-15 20:05] greenpau commented on #99
@richardpowellus , please promote the plugin on social media platforms you use and :star:  it :-)

[2021-03-17 04:09] cakoose opened #100 "Can't get Google auth working: no primaryInstance authorization provider found in default context when configuring jwt-1"
**Describe the issue**

I have Caddy in front of another HTTP service (on port 3000).  I only want to allow users in my Google Workspace domain to access the application.

Right now I'm just copy/pasting config snippets from the ReadMe.  Caddy starts fine, but when I try and access the server, I get these errors:

[code]

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Informat

[2021-03-17 04:45] cakoose commented on #100
Found an older answer you had written here: https://caddy.community/t/google-oauth-on-v2/10546

That got me further along.  Will open a different ticket for where I'm stuck now :-)

[2021-03-17 04:45] #100 closed

[2021-03-18 05:09] caiych opened #101 "redirect_url doesn't work with URL with fragment"
**Describe the issue**

Imagined user is visiting https://example.com/#/path/in/fragment.
It's redirected to https://login.example.com?redirect_url=https://example.com/#/path/in/fragment
Then the second hop goes to https://login.example.com#/path/in/fragment and setting https://example.com in AUTH_PORTAL_REDIRECT_URL cookie.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Info

[2021-03-18 05:24] greenpau commented on #101
@caiych , i think automated redirect should just work. How do you set redirect in ‘jwt’ plugin?

[2021-03-18 06:08] caiych commented on #101
I'm not setting it explicitly. Mostly coping from the instruction.

[code]

[2021-03-18 06:11] greenpau commented on #101
@caiych , where is https in the auth_url?

[2021-03-18 06:18] caiych commented on #101
I didn't set that but making it https://login.caiych.top didn't make a difference.

I think the problem is that when the server receives the http request of  https://login.example.com?redirect_url=https://example.com/#/path/in/fragment , it's interpreting the url fragment("#/path/in/fragment") as the fragment of the whole URL so it's not passed into redirect_url arg.

[2021-03-18 16:55] alucryd opened #102 "Support for Elliptic Curve JWKs"
**Describe the issue**

Trying to use the generic oauth2 backend with an auth server using elliptic curve keys fails with the following error message:

`failed to fetch jwt keys for OAuth 2.0 authorization server: invalid jwks key: unsupported key type EC for ec`

It works fine if I stick to RSA.

**Configuration**

[code]

**Version Information**

[code]

**Expected behavior**

The plugin should

[2021-03-18 17:13] alucryd opened #103 "Generic Oauth2 backend won't start if the identity server is hosted on the same caddy instance"
**Describe the issue**

I have a local identity server which I use for all my OpenID Connect purposes. Up until now I was using OpenResty to host all my services, including the OIDC server, and I would like to switch to Caddy. However, trying to use the Oauth2 backend fails if the OIDC server is also exposed on the same domain via the same Caddy instance, because it tries to validate the backend b

[2021-03-18 17:21] greenpau commented on #103
@alucryd , not at the moment. However, I can add the delayed start option over the weekend.

[2021-03-18 17:22] greenpau commented on #102
@alucryd , currently, not supported. Could look into it over the weekend.

[2021-03-18 17:48] alucryd commented on #103
Thanks for the quick answer, that would be grand!

[2021-03-18 17:49] alucryd commented on #102
Not really urgent, but it would be nice to have, thanks!

[2021-03-19 16:42] orware opened #104 "Would like to explore setting up caddy-auth-portal using PortalGuard IdP Product"
Hi @greenpau!

I was excited to see this module available for Caddy v2 when I was looking through the list of modules on the download page over the past weekend, specifically because I'd like to explore using it to help create "intranet" type sites (protected by authentication before being able to access the page) using Caddy's built-in file_server / templates directives.

I know the examples in t

[2021-03-19 17:37] richardpowellus opened #105 "If my browser is already logged in with a different MSA I cannot switch the MSA for use with Caddy"
**Describe the issue**

Let's say I happen to already be logged into Microsoft's services using MSA a@outlook.com. My Caddy web portal is configured to only permit connections from b@outlook.com. When I browse to my Caddy web portal instead of being given an option to "logout" I just get "Forbidden".

Further, if I then browse directly to the Caddy auth page and click the "Logout" button and then

[2021-03-22 16:46] danielfrankcom opened #106 "feature: add auto push of new docker image on release"
**Describe the issue**

I would like to use Caddy with this authentication plugin on an Unraid system, in such a way that the Docker container image can be auto-updated from Docker Hub.

**Expected behavior**

Docker Hub contains a predefined Caddy image that includes this plugin. It is available for download in a similar manner to https://hub.docker.com/_/caddy. When the Caddy image or the plugin

[2021-03-22 19:52] greenpau commented on #106
@danielfrankcom , sure. Will add it to the build.

[2021-03-22 19:53] danielfrankcom commented on #106
Great, thank you!

[2021-03-23 00:16] cakoose opened #107 "Question: Increasing token lifetime?"
**Describe the issue**

I'm running a website on an Internet-accessible IP.  I only want people at my company to have access, so I'm using Caddy 2 with `auth_portal`+`jwt` in front to "protect" it.  The website doesn't actually use the auth information itself.

I'm seeing this error in the Caddy log every ~15 minutes:

[code]

This is fine for normal HTTP GETs of top-level pages.  But for AJAX req

[2021-03-23 00:43] tgelite commented on #107
I used this in our config for 12 hour timeout in seconds and it worked for extending the timeout.

[code]

You can see examples of our full config file example that is working for us at:
https://caddy.community/t/new-feature-caddy-trust-with-support-for-config-switch/11606

Note in our config /* routes to /auth* for authentication if no token is present (as does /ui/* and /gr/* routes) and we set

[2021-03-23 00:48] greenpau commented on #107
@cakoose , the token lifetime needs to be set on portal, because it issues tokens. The token lifetime is in seconds.

You are setting lifetime on ‘jwt’ plugin. That looks incorrect.

regarding AJAX scripts. They need to recognize 403/404 errors and redirect to login.

hope this helps!

[2021-03-23 01:03] cakoose commented on #107
Ah, that makes sense.  I moved `token_lifetime` up to the `auth_portal` section and it seems to work now.

When I added `token_lifetime` in the wrong place, the error message made it seem like it was just a type mismatch (int vs string): "json: cannot unmarshal string into Go struct field CommonTokenConfig.token_lifetime of type int".  Is that easy to improve?

[2021-03-23 01:03] #107 closed

[2021-03-23 03:47] tgelite opened #108 "Follow up question to static asset config (former issue#92)"
**Describe the issue**

Attempting to follow up & properly test (turns out we didn't, I fibbed) the fix presented by issue #92 to configure a static logo to serve within the caddy auth portal templates.  The need is to get the following template code to recognize the static asset (if possible)?

Dumb question by the architect (me) who has to explain to dev team/testers on if we need to insert the

[2021-03-23 04:02] tgelite commented on #108
UPDATE:
Ok so actually we do see the logo after authenticating with our static asset configuration.  It is appearing in the templates with our configuration as shown, the problem is that the sign in page wont initially serve the logo until we log in...

After logging out (or on initial login) the user sees:
![login-noimage](https://user-images.githubusercontent.com/68513621/112090881-f6914d80-8b59

[2021-03-23 04:17] tgelite commented on #108
Ok finally worked it out iterating a few times over the configuration. The magic config ended up being this to get it working for the logo URL with no template changes or CSS content url (which probably would not have worked anyway, bad guess).

[code]
![login-with-image](https://user-images.githubusercontent.com/68513621/112092122-6e607780-8b5c-11eb-83a3-3f613a562815.png)

Thanks again for the fe

[2021-03-23 04:24] tgelite commented on #108
Oh but now the post login pages break?  The page serves the logo_image as:

https://host.example.com/auth/auth/assets/logo.png

![after-login-without_image](https://user-images.githubusercontent.com/68513621/112092457-23932f80-8b5d-11eb-9527-23ed4d05a9e6.png)

So I'm not sure if we can use it this way? That or I'm doing something horribly wrong in our configs?

[2021-03-24 00:12] greenpau commented on #108
@tgelite , if you are using the template. Then do not use logo_url directive. Hardcode it into the template.

[2021-03-24 00:25] tgelite commented on #108
Will do, thanks!

[2021-03-24 00:25] #108 closed

[2021-03-25 05:29] chanux commented on #94
I am trying to configure Github based oAuth for a static site following this example. I am getting in a redirect loop with multiples of following error in the log.

[code]

Below is my Caddyfile

[code]

Anything I'm missing?

[2021-03-25 06:09] greenpau commented on #94
@chanux, next time please open a separate issue ;-)

move the following after /auth, not before. In essence, the below default route always preempts auth portal. So you are not getting there.

‘’’
  route /* {
    import auth
    redir https://auth.example.com/auth/oauth2/github 302
  }
‘’’

[2021-03-25 12:01] chanux commented on #94
Thanks for the reply. I have tried this but no luck. I'll work with it a little more and open a fresh issue with more info (hopefully).

[2021-03-25 16:39] tgelite opened #109 "Is there a way to get caddy to re-read the local user_db.json without restarting the server?"
**Describe the issue**

One of our team members has created an [external user management tool for the caddy_auth_portal user registration & user db](https://github.com/dczysz/caddy-auth-user-manager).  (For anyone who needs it, its MIT license so please, check out).

One thing we have found is that the caddy reload command does not seem to trigger re-reading the user_db.json.

[code]

Is there any

[2021-03-25 17:03] tgelite commented on #109
Oof, we figured it out!

we needed to add `--force` probably because caddy was looking at an unchanged caddyfile, and not reloading anything.  We're updating now!

[2021-03-26 00:29] tgelite commented on #109
So further testing has found that the caddy reload even with --force does not seem to trigger re-reading the user file.  So the question stands is there a way short of restarting caddy server to get the caddy_auth_plugin to update from the user_db.json.

[2021-03-26 00:48] greenpau commented on #109
@tgelite , the issue here is that you took a shortcut of modifying underlying files and not using API from go-identity. That is the issues here.

[2021-03-26 01:03] tgelite commented on #109
Ok we will go back to the drawing board and examine that, thanks for the pointer!

[2021-03-26 01:10] greenpau commented on #109
@tgelite , in short, there are functions you could trigger to operate the local identity database.

See here: https://github.com/greenpau/caddy-auth-portal/blob/d8ef9f687eca4fc80cf39ac385f23374b1e2b8d4/pkg/backends/local/backend.go#L417-L460

[2021-03-26 01:19] tgelite commented on #109
ooh nice thanks for the pointer!

[2021-03-26 19:20] tgelite commented on #109
Ok so reading through this (go is a very readable language, nice) it looks like we would need to expand this module to be able to have a backend1 and backend2 opened and then build functional calls for the move and set role (and whatever other things like demote, delete, etc).  Learning the go-identity API will be first step (noticing there is a node.js one too..)

We're going to go ahead and back

[2021-03-26 19:20] #109 closed

[2021-03-28 14:31] greenpau opened #110 "add help page template"
Tracks progress on adding `help` page template.

[2021-03-28 14:33] greenpau opened #111 "add sandbox cookie"
This issue tracks adding short-lived sanbox cookie.

[2021-03-28 14:36] greenpau opened #112 "add claims transformer function"
This issue tracks the development of claims transformer function.

When a backend output JWT claim, we can pass it to a "transform" function. The function will transform the claims into a JSON object, then perform operations on the object by either removing or adding claims or certain claim attributes.

[2021-03-28 18:34] #101 closed

[2021-03-28 21:44] sandstormkeshav opened #114 "Disable Auth Portal + Links to unauthorized Users"
**Describe the issue**
I have setup google oauth on my auth portal, when logging in as any google user they have access to see my links available in the portal, as well the /auth/whoami endpoint, as well as the /auth/settings endpoint. It would be nice if users could have a role called self_service which gives them access to those endpoints as stated before.
Here is a caddyfile I am using to fix t

[2021-03-28 22:04] greenpau commented on #114
@sandstormkeshav . thank you for opening the issue.

Your snippet doe not look correct. Please reformat and paste your complete configuration with the reduction of sensitive data.

The following does not look correct:

[code]

Also, please explain "user journey" a bit better. I don't understand the ask.

[2021-03-28 22:30] sandstormkeshav commented on #114
[code]
Here is my Caddyfile, I have created the @securesite matcher to allow me to prevent access to the /auth/portal* /auth/whoami* /auth/settings* endpoints for users that do not have the superadmin role. Would there be a different way to implement this? If I remove this matcher, and login using google oauth -- I am able to have access to the portal (as well as see what links are available), eve

[2021-03-29 04:33] greenpau commented on #114
@sandstormkeshav , are you saying you don't want to let Google OAuth authenticated user in, unless the user is superadmin?

[2021-03-29 05:33] sandstormkeshav commented on #114
@greenpau That is correct, I would not want an authenticated oauth user that does not receive any role other than the default guest, anonymous role to be able to access the whoami, portal, and settings page. The portal page with the links could be especially sensitive as it may show others what services the user is running, even if he/she cannot actually access them.

[2021-03-31 01:19] sandstormkeshav commented on #114
@greenpau Thank you so much! 😀

[2021-04-02 13:50] Whizzzer opened #115 "Only authenticate specific parts"
**Describe the issue**

I'm experiencing an issue where I can't login to Kibana (running within a container) with a username/password for Kibana because Caddy with this authentication plugin is interfering. Probably a misconfiguration on my end, yet I don't know how to fix it.

To be more specific: I have a setup with three containers (besides caddy) all running on one FQDN:
- portainer
- whoami
-

[2021-04-02 13:56] greenpau commented on #115
@Whizzzer , everything is possible :-)

What comes to mind is that "/auth" path exist in `portal`, but also in the proxied app. Please check that. if so, change `portal` to serve from different path, e.g. `/xauth`. This way it will not conflict.

[2021-04-02 14:39] Whizzzer commented on #115
Seems we have a winner...

Changed a few things:
- `route /auth*` to `route /xauth*`
- Within that section added `path /xauth`
- `auth_url /auth` in the "portainer" section to `auth_url /xauth`

Also needed to change the redirect url in te azure app-registration of course..

Thanks for the quick response. Any other suggestions based on the configuration?

[2021-04-02 15:05] greenpau commented on #115
@Whizzzer , still not working? or general feedback?

[2021-04-02 18:20] Whizzzer commented on #115
It's working now... Just wanted to give some feedback for you and anyone else in a way that you can see what I've done to fix this thing.

Interesting to see kibana apparently uses something with /auth*, yet I can't find it in the documentation.

[2021-04-02 18:20] #115 closed

[2021-04-03 17:46] IzeQube commented on #103
Oh yes, it would be great if something like a delyed start could be added.

[2021-04-07 05:42] sandstormkeshav opened #116 "Redirect to /auth after token has expired"
**Describe the issue/How to reproduce**

1. Visit Protected website (authenticate with google oauth)
2. Wait until JWT Token Expires
3. Refresh the page or open a new tab with the same website
4. Here you will see that you will be sent back to the /auth endpoint, upon logging in you will not be redirected to the page you requested.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Versi

[2021-04-07 05:43] sandstormkeshav commented on #116
The easiest way to reproduce this would be to set your token_lifetime to something short so you can see the JWT expire in your browsing session.

[2021-04-07 13:04] greenpau opened #118 "Transforms: allow the mapping of claims to whoami API"
This issue tracks the development of a transform that would allow the mapping of claim fields to whoami API response fields.

the whoami api is used to create user avatar cards.

[2021-04-07 13:07] greenpau opened #119 "Local user database management utility"
This issue tracks the development of a tool allowing to manage local user database from command line.

[2021-04-11 00:08] UndarkAido opened #120 "Signing in does nothing"
**Describe the issue**

When I sign in with the default `webadmin` credentials it just reloads the auth page. If I enter incorretc credentials it throws an error.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Expected behavior**

It should load the services panel

**Additional conte

[2021-04-11 02:30] greenpau commented on #120
@UndarkAido , this happens to me too from time to time 😃

Couple things here.

1. Use HTTPS ... I don't think it will allow you to get a cookie on HTTP connection. However, that depends on a security of your browser.

2. You should not use the same file for authentication and registration. If you want a registration, put it in a different file. See https://github.com/greenpau/caddy-auth-portal#use

[2021-04-11 03:03] UndarkAido commented on #120
Ah! I doesn't work when I access it via IP but it does work when I access it via HTTPS. So I guess this won't work for LAN stuff? I could probably just not enable JWT on LAN.

There is actually HTTPS, it's just on a different machine right now. This is a server I'm setting up for a friend as a wedding present so it's proxied from mine.

Is there an example anywhere for how to set up authentication

[2021-04-11 05:04] greenpau commented on #120
@UndarkAido , for an example try looking at https://github.com/greenpau/caddy-auth-portal/issues/99

also, look for “cookie_domain” in the documentation.

no need to disable. Just don’t use the same file. The reason not using the same file is potential attack vector.

[2021-04-11 07:48] UndarkAido commented on #120
Is there UI for approving new users yet?

[2021-04-11 07:49] greenpau commented on #120
@UndarkAido , not yet. I did not get to it yet. Probably in the next couple of months.

[2021-04-11 16:42] sandstormkeshav commented on #116
@greenpau I wonder if this is maybe a browser side issue that the redirect cookie isn't getting stored. Are you able to reproduce this behavior? Thank you!

[2021-04-11 16:44] sandstormkeshav commented on #114
@greenpau Do you have any updates on this? It would also be cool to dynamically show the links based on what roles the user has. But I understand this may not be feasible.

[2021-04-11 16:54] greenpau commented on #116
@sandstormkeshav , I am in a middle of rewriting jwt plugin. Once I get back to this issue, I will ping you here.

[2021-04-12 16:04] sandstormkeshav commented on #116
@greenpau Thank you sir!

[2021-04-14 12:19] cceyda opened #121 "Documentation clarification: OAuth 2.0 full example using Google"
Firstly I absolutely love this plugin 😍 It is everything I have been searching for~
But I'm a bit confused about how to correctly configure OAuth 2.0 backends (Google in my case).
I understand the `backends` configuration, but in the OAuth 2.0 examples  there is no `jwt` settings. But I found it necessary for it to function correctly. As far as I understand it works like; auth backend-> google say

[2021-04-14 23:17] greenpau commented on #121
@cceyda , you can read about `primary` over [here](https://github.com/greenpau/caddy-auth-jwt#overview). I really want to create Youtube video explaining it :-)

Regarding your configuration.  Here is what you need. Note `#user "^greenpau" regex add role superuser` and change it to your email.

The `0c9d8d51-aed0-4769-9315-44f5a8ddf548` is the shared key between `portal` and `jwt` plugins.

[code]

[2021-04-17 16:55] Dulanic opened #122 "Mutliple subdomains /w a snippet possible?"
I am not super familar /w http routing etc.. so I am having trouble grasping this as easily as some others. EX: I have maybe 10 subdomains, do you have any config examples for use /w multiple subdomains? Like /w the jwt etc... in a snippet? I was thinking something like this, but I am stuck and I know I am missing some jwt commands. I am just trying to add like import secure for any subdomain and

[2021-04-17 17:21] greenpau commented on #122
@Dulanic , the config you have is not from this plugin family.

First, thank you for opening the issue 👍

Second, write down what you want the users to experience and I will help drafting your config. Yes, you can have multiple subdomain.

[2021-04-17 17:39] Dulanic commented on #122
Im not sure what you mean its not from this plugin family? It is Caddyv2 using github.com/greenpau/caddy-auth-portal and github.com/greenpau/caddy-auth-jwt. Appreciate you dealing with my newbness. I am trying my best to pick this up, but some of the http routing stuff is still over my head. This is my docker file to build my caddy container. https://github.com/Dulanic/docker-caddy/blob/master/Doc

[2021-04-17 18:09] greenpau commented on #122
@Dulanic , let discuss this part of your config.

[code]

The use of `import secure` without `route` is invalid. Here is what you likely need.

1. Only, one of the `jwt` references is the "primary" instance in a "context". More info on this [here](/www/websites/protected.dulanic.com). The rest of `jwt` reference would inherit setting from it. If you want many different configuration for `jwt`, sep

[2021-04-17 18:38] Dulanic commented on #122
OK let me work on it that way. The order by was put in because it was saying my caddyfile was invalid without a order. I'll try this out now.

[2021-04-17 18:44] greenpau commented on #122
@Dulanic , please do not hesitate to reach out right away.

[2021-04-17 19:00] Dulanic commented on #122
Something doesnt seem right, it errors out and im not sure why. That env variable is deff set too, i verified. I created it at https://www.javainuse.com/jwtgenerator key shouldnt matter right? I used H256 and changed it to H256.
[code]

[2021-04-17 19:04] greenpau commented on #122
@Dulanic , you did not set secret. It is done the same way how you set google client id.

[2021-04-17 19:06] greenpau commented on #122
Search token_shared_secret

[2021-04-17 19:11] Dulanic commented on #122
I did didn't I?
![Screenshot 2021-04-17 2 07 40 PM](https://user-images.githubusercontent.com/2948206/115124228-cab18e00-9f86-11eb-9c5a-637c2e679aa5.png)

[2021-04-17 19:17] greenpau commented on #122
@Dulanic , you have the key that looks like JWT token. Just do uuidgen to generate a shorter string for now.

it might be that the double import in jwt_protected is not working. For now, don’t use that import and paste directly into the config.

[2021-04-17 19:26] greenpau commented on #122
@Dulanic , the secret is “symmetric” key. It can be used to both sign and validate JWT tokens.

[2021-04-17 19:39] Dulanic commented on #122
Still doesnt seem to be working, I switched to using uuidgen too.
I updated https://dulanic.com/files/Caddyfile
[code]

[2021-04-17 19:58] greenpau commented on #122
@Dulanic , the `{$token_shared_secret}` is not being taken in. Try changing it to environment variable with something like `{env.CLOUDFLARE_API_TOKEN}`

[2021-04-17 20:00] greenpau commented on #122
@Dulanic , additionally, change:

[code]

to:

[code]

[2021-04-17 20:24] Dulanic commented on #122
OK, the env. fixed that part. Odd how it works sometimes but not others. But the redir seems wrong.

![image](https://user-images.githubusercontent.com/2948206/115125904-e7eb5a00-9f90-11eb-9b4d-e34129b54557.png)

[2021-04-17 20:37] greenpau commented on #122
Notecthe “protected” in my example. I did not use f word.

[2021-04-17 20:39] Dulanic commented on #122
Oh I know, I switched it as I should have and it gave me the same error. Thats also why I moved it to my pgadmin subdomain to make discussing easier.

[2021-04-17 20:49] greenpau commented on #122
@Dulanic , at the top of you config enable debugging and try seeing what is happening:

[code]

[2021-04-17 21:42] Dulanic commented on #122
So once I did that, it started getting further. So I didnt see much there. But now if i go to pgadmin.dulanic.com it routes me to google, i pick my account, it errors /w too many redirects screen for a 1/4 second goes to Authentication Failed screen /w the portal. Then I can go to my identity.

Quick video example:

https://user-images.githubusercontent.com/2948206/115127411-e4110500-9f9b-11eb-971

[2021-04-17 21:59] greenpau commented on #122
Change the  redir https://{hostport}/auth/oauth2/google 302

to  redir https://{hostport}/auth/ 302

[2021-04-17 22:01] greenpau commented on #122
It could be that the below does not work. watch the logs for clues.

user dulanic@gmail.com add role verified

[2021-04-18 00:03] Dulanic commented on #122
So the change to redir didnt change anything. Im watching the log but I am so lost. I dont see anything that stands out to me or anything specific i can use grep to narrow down to. I changed it to superuser, and no change, and I can see it is properly clasifying me as a superuser. It says authentication succeeded. I used jq to make it more readable and still really dont know what I am looking for.

[2021-04-20 16:34] erichiller opened #123 "feature request: MFA for LDAP backend"
It would be great if LDAP supported MFA / TOTP (as the _local_ backend does).

[2021-04-20 18:05] greenpau commented on #123
@erichiller, that's easily doable. However, I don't have access to AD domain where I can test. Feel free connecting with me over LinkedIn and discussing it there.

In short, one can add shared or asymmetric key as part of a custom attribute and that info could be available in when logging in a user.

https://social.technet.microsoft.com/wiki/contents/articles/51121.active-directory-how-to-add-cust

[2021-04-22 09:13] cceyda commented on #122
@Dulanic It is possible that you are missing the `cookie_domain dulanic.com` inside `auth_portal` at the same level as `backends`.
I was trying this code and that line made it work

[2021-04-22 09:34] cceyda commented on #121
I guess the static in `static_secret` was throwing me off, like it wouldn't change or something.
I would love an example of `context` directive. Would this be the thing to use to have different allowed roles for different routes?

[2021-04-22 09:43] cceyda commented on #122
@greenpau In a kind of relevant question:
Is it possible to have multiple subdomains on different machines use the same auth?
Would this work as long as they are using the same `token_secret`?

Senario:
[code]
Where user signs in once; lets say being redirected through `api.example.org` and they wouldn't have to also sign in for `static.example.org`

[2021-04-22 13:33] Dulanic commented on #122
@cceyda Thanks! That did correct that problem.

Quick question as a follow up, how can I avoid auth on /api for example? If using basic auth, i would use handle. I tried to use route not /api* but it doesn't seem to like that even though not says it takes any other matcher, it doesnt.
[code]

[code]
This was the method I would use for basic auth:
ex:

[code]

[2021-04-22 13:46] greenpau commented on #122
Would this work as long as they are using the same token_secret?

@cceyda , yes. Importantly, with your questions, I realized I made a mistake calling there properties `token_...`. It is really encryption or decryption keys. In the case of `token_secret`, it can be used for encryption and decryption of tokens.

I suggest you consider using public-private key cryptography with RS512.

Also, I am th

[2021-04-22 13:50] greenpau commented on #122
@Dulanic , please clarify your question and provide a short config snippet for it.

[2021-04-22 13:52] greenpau commented on #122
Would this work as long as they are using the same token_secret?

@cceyda , additionally, the `portal` plugin needs both encryption and decryption functions, i.e. private key (although it is called private key, it contains both private and public keys). The `jwt` only needs the decryption function, e.g. public key only.

[2021-04-22 13:59] Dulanic commented on #122
@greenpau OK so I have subdomain .dulanic.com I want it to require authorization on subdomain.dulanic.com and any subfolder except /api. So if I am accessing subdomain.dulanic.com/api I do not want authentication required as it requires a API key already.

I attempted to use this which according to https://caddyserver.com/docs/caddyfile/matchers#not should work bescause path is another matcher. Bu

[2021-04-22 14:15] greenpau commented on #122
@Dulanic , now I get it. Currently it is not possible to bypass when you have `jwt` plugin in between the entry point to the route and reverse proxy. I added https://github.com/greenpau/caddy-auth-jwt/issues/61.

Also, compare the config in the https://github.com/greenpau/caddy-auth-jwt/issues/61 with the part of the config in https://dulanic.com/files/Caddyfile, i.e. the below.

[code]

[2021-04-22 14:38] Dulanic commented on #122
@greenpau Thanks, yes that is what I was looking to do.  You are spot on.

Also as a FYI, I was able to throw the route back into the snippet to try to keep it consolidated /w these updates, and it errors out in the log .  For now, Ill just repeat that same route in every subdomain, just not sure why it wont take it as a snippet.

[code]

[code]

[2021-04-22 14:54] greenpau commented on #122
@Dulanic , I suggest you ask in https://caddy.community/ because I am not proficient with inclusions. My guess is that `{$token_shared_secret}` is not being resolved when passed via `(jwt_protected) {` inclusion.

[2021-04-26 11:14] cceyda opened #124 "Question: route vs handle directive"
I was wondering if there is a specific reason for using [route](https://caddyserver.com/docs/caddyfile/directives/route) directive as opposed to [handle](https://caddyserver.com/docs/caddyfile/directives/handle) / [handle_path](https://caddyserver.com/docs/caddyfile/directives/handle_path), can we use also use these?
I know they both group directives;
 - route "Directives contained in a route bloc

[2021-04-27 11:28] greenpau commented on #124
@cceyda , that’s a very good question! 👍 at the moment, idk the answer to it, because as you’ve said, it is about how caddyserver works.

[2021-04-27 11:31] greenpau commented on #124
@cceyda , one thing to point out is that portal and jwt are different plugin types. The portal is a regular http handler, while jwt is “authorizer” plugin. Each of them have their own dynamic.

[2021-04-27 11:35] greenpau commented on #124
@cceyda , when you read handle docs, see “Only HTTP handler directives can be used inside handle blocks.”

It could be that “jwt” plugin is not http handler (not supposed to serve any content) and therefore should not be used inside “handle” directive.

[2021-04-27 17:53] cceyda commented on #124
Hmm that makes sense. Thanks for explaining~

[2021-04-27 17:53] #124 closed

[2021-04-28 12:13] Dulanic commented on #122
Not sure yet, I use docker and that hasn't made it downstream yet but thinking how I can test it.

[2021-04-29 15:21] Dulanic commented on #122
@greenpau I think he was implying you needed to reload the values? The value is left as env and not updated? Not sure.

[code]

[2021-05-02 02:57] terefang opened #125 "feature: add role search for non-AD based ldap"
hello

the use-case would be to implement an additional role search for ldap servers that store role information in "group", "groupOfNames", "groupOfUniqueNames" or "posixGroup" objects rather than in the "memberOf" user attributes.

the configuration would need the following additional attributes:

* roleBaseDN (eg. "cn=groups,dc=example,dc=org" etc) -- the base for searching roles
* roleFilter (

[2021-05-02 04:31] greenpau commented on #125
@terefang , thank you for the issue. Will look into it next week.

[2021-05-10 00:31] greenpau commented on #125
@terefang , what about adding these additional fields to the initial search? The subsequent search you are referring to queries the same servers?

[2021-05-15 17:09] terefang commented on #125
you do not understand.

the group memberships are not stored on the user object but rather on separate group objects.

[2021-05-18 20:42] samcro1967 opened #126 "Question on local backend username and password Labels"
**Describe the issue**
I never see the log entries for:
{"level":"info","ts":1588704471.5784082,"logger":"http.authentication.providers.portal","msg":"created new user","user_id":"cd5f647a-cc04-4ae2-9d0a-2d5e9b95cf98","user_name":"webadmin","user_email":"webadmin@localdomain.local","user_claims":{"roles":"superadmin"}}
{"level":"info","ts":1588704471.5784378,"logger":"http.authentication.providers

[2021-05-18 20:54] samcro1967 commented on #126
Should have thought thought of this before, but I stopped caddy, deleted the users.json file, and restarted caddy.  It recreated the file and I did see the entry in the log this time.  I am not able to login in though with webamin and the user secret from the logs.

[2021-05-18 20:57] greenpau commented on #126
@samcro1967 , did you try to overwrite the password in users.json file?

[2021-05-18 22:15] samcro1967 commented on #126
I am thinking the password in the file is a hash and not the actual password right?  What I see in the file for the password is not the same as the user secret in the logs.   If I update the users.json, it would be the hash and not the password I would type in the gui.  Not sure how I reverse engineer the has back to the password since I can't get bcrypt running.  Not a linux expert and have not b

[2021-05-18 23:36] greenpau commented on #126
@samcro1967 , it is bcrypt hash. Try generating using https://bcrypt-generator.com/ and then changing it via UI.

[2021-05-19 00:19] samcro1967 commented on #126
That got me a little bit further.  Looks like auth is working now and I no longer get a failed message at the login screen, but it redirects me back to the login and not to the service.  Doesn't appear the redirect back to /homeauto is working.  It is redirecting me back to /auth.

{"level":"debug","ts":1621383393.2983167,"logger":"http.handlers.auth_portal","msg":"Authentication succeeded","reque

[2021-05-19 01:33] greenpau commented on #126
@samcro1967 , do you get to a welcome screen?

![](https://raw.githubusercontent.com/greenpau/caddy-auth-portal/main/assets/docs/images/basic_portal.png)

[2021-05-19 01:39] samcro1967 commented on #126
No. I go back to the login screen.

[2021-05-19 23:54] greenpau commented on #126
@samcro1967 , regarding the handshake error, please ask in Caddy community site.

[2021-05-20 00:40] samcro1967 commented on #126
Sorry for all the questions and REALLY appreciate your help.

I got a little further.  I restarted caddy a second time and after about 5 mins it got the cert.  I can now access the site, login, and see the portal.  I can get to my identity, my settings, myapp, and version, but not /homeauto.  It just redirects me back to /auth/portal.  I tried another app I host just to rule out something weird wi

[2021-05-20 06:06] sandstormkeshav commented on #116
@greenpau I see that you have updated for the caddy-auth-jwt plugin, is it ready for release (and should I use xcaddy to build?) or should I wait for a published release.

[2021-05-20 16:35] samcro1967 commented on #126
I finally got it working after looking at more issues opened by other users.  I removed "uri strip_prefix /homeauto" and added a URL base to the application I am reverse proxying to.  Then it started working.

[2021-05-20 16:35] #126 closed

[2021-05-22 17:46] samcro1967 opened #128 "Question: How to get apps without url baser/prefix capability to work"
**Describe the issue**

I am not quite sure how to get apps without the ability to have a url base/prefix to work.  Without caddy-auth-portal, I would just do one route statement to do a reverse proxy.  I have tried uri strip_prefix that I saw in the documentation example with 2 different apps, but neither works.  Any suggestions on what else to try?

**Configuration**

**Caddy Dockerfile**
[code]

[2021-05-24 21:13] samcro1967 opened #129 "Protecting a subdomain with proxy_pass to a service rather than portal"
I would like for a user to be able to go to auth.mydomain.net/auth, login, and get the UI.  When they go to main.mydomian.net, they are redirected to auth.mydomain.net/auth for login, returned to main.mydomian.net, and then follow the proxy_pass to the service.

With the config below, when I go to main.mydomian.net, I am sent to auth.mydomain.net/auth to login.  Once logged in, I am taken to auth.

[2021-05-25 01:34] greenpau commented on #129
@samcro1967 did you add cookie_domain directive?

[2021-05-25 12:34] samcro1967 commented on #129
I did have "cookie_domain mydomain.net" in there, but removed it since it had no impact.

[2021-05-25 14:06] greenpau commented on #129
@samcro1967 , where does `https://main.mydomain.net/login?loginRedirect=%2F` come from? I don't remember "loginRedirect"

[2021-05-25 15:59] samcro1967 commented on #128
Closing this as I think it is related to The "subfolder problem", OR, "why can't I reverse proxy my app into a subfolder?"  Trying to get subdomains working now instead.

https://caddy.community/t/the-subfolder-problem-or-why-cant-i-reverse-proxy-my-app-into-a-subfolder/8575

[2021-05-25 15:59] #128 closed

[2021-05-25 19:35] greenpau commented on #129
@samcro1967 , have you tried changing

[code]

for:

[code]

[2021-05-25 19:45] samcro1967 commented on #129
Did not seem to have any effect.  Still working the same way.  I can authenticate and get redirected properly, but then it loads a blank page.  I tried it with another service on a second subdomain and get the same results.  Wanted to rule out something with the services I picked to test with.

[2021-05-26 09:53] mueslimak3r commented on #121
@greenpau thanks for your example. When I use it ,with only minimal changes like using my google api client ID and secret, using my domain, and pointing the "/api" reverse proxy to one of my services, I get the error:

`May 26 02:47:46 DietPi4 caddy[8039]: run: loading initial config: loading new config: loading http app module: provision http: server srv0: setting up route handlers: route 0: load

[2021-05-26 14:19] mueslimak3r commented on #114
It would be great to have links/portal access denied too if user doesn't have sufficient privileges, specifically I'm using Google Oath. Bare minimum it would be nice to get the same "Forbidden" page if user signs in and isn't privileged. Just having an easy to access list of all of my services is a little worrying

[2021-05-28 14:07] samcro1967 commented on #129
Below is what I see in the browser console with and without caddy-auth-portal.  Looks like a Jquery is not being loaded/executed when caddy-auth-portal is enabled for that subdomain?

**Browser console without caddy-auth-portal**
[code]
****Browser console witht caddy-auth-portal****
[code]

[2021-06-03 11:02] samcro1967 commented on #129
@greenpau So it sounds like subdomains should work and I have the correct config?  Either I have something environmental going on or have stumbled across a potential issue?  Since it works with just caddy and no caddy-auth-portal, is there anything environmental you can think of to check or try at this point or any other info I can provide to further troubleshoot?

[2021-06-03 12:48] greenpau commented on #129
@samcro1967 , have you tried it without `@mygeofilter`?

[2021-06-03 14:26] samcro1967 commented on #129
@greenpau I did, but just retested for my own sanity and still get the same results.

[2021-06-03 16:18] greenpau commented on #129
@samcro1967 , please paste your latest config.

[2021-06-03 16:44] samcro1967 commented on #129
Here are the changes I made:
uncommented cookie
route /auth* --> route /
path /auth --> path /
auth_url https://auth.mydomain.net/auth --> auth_url https://auth.mydomain.net

[code]

[2021-06-05 13:48] samcro1967 commented on #129
@greenpau Not sure what this tells me (other than it is not an issue with subdomains), but I tried to serve a static web page, and I get the same behavior.   There are no errors present in caddy logs or browser consoles (Chrome or Firefox).  Tried clearing browser cache.  Also tried both browsers from 2 different clients (Windows 10 and Ubuntu).  The only pattern I seem to be able to get working i

[2021-06-06 14:08] samcro1967 commented on #129
@greenpau I followed the article below and got further.  Adding the sso snippet and putting the order lines in my global block now has jwt for non primary subdomains working correctly.

[Single Sign On (SSO) with subdomains using Caddy v2](https://dev.to/shu8/single-sign-on-sso-with-subdomains-using-caddy-v2-l2i)

The service where jwt is primary still does not work.  The only line different betwe

[2021-06-06 15:34] samcro1967 commented on #129
@greenpau I got the primary JWT instance working.  I had jwt and the reverse_proxy in a route block.  Removing them from the route block solved it.  Not sure why, but it did.  Probably something I missed in the docs or just did not understand properly.  Appreciate your help and loving the SSO.

[2021-06-06 15:35] #129 closed

[2021-06-06 16:13] greenpau commented on #129
@samcro1967 , the most important thing here is that you get a chance to learn and experiment. You did really well by not giving up on it! 👍

I think getting to "why" is important! Join https://caddy.community/

[2021-06-07 14:01] samcro1967 opened #132 "MFA login failure after switching DNS providers"
**Describe the issue**
Unable to lgoin with MFA after switching DNS providers

**A clear and concise description of what the issue is.**
I switched from using Godaddy as my DNS provider to DuckDNS.  When require MFA is enabled, I receive a login failure.  Everything works as expected when it disabled.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide outpu

[2021-06-09 02:08] akzkak opened #133 "route /auth* mess up if a hash sign is used in url"
A PrivateBin url looks like this and always have a # sign in the url
https://privatebin.net/?8132015d33f2dcac#EqRtDrbmAr1zYAagpXz5Muz5bs7rzPd7wVemGXWGKDAT

I have it self-hosted and setup auth login page, but results in:

original url: example.com/?7cc67fc6c545fe8e#Cf3dcZgvYWwqapcvPTZ6Xmyggt1PeiT1GMoiLJFUuLnC
on login page: example.com/auth#Cf3dcZgvYWwqapcvPTZ6Xmyggt1PeiT1GMoiLJFUuLnC
after login:

[2021-06-09 02:24] greenpau commented on #133
@akzkak , did you look into “js redirect”? It is used in the cases of pound sign in url path.

[2021-06-09 03:07] akzkak commented on #133
Ah i see. Just found on caddy-auth-jwt front page.  Followed setup guide from here:
https://lucaci32u4.xyz/blog/2021/mainsail-gateway.html

edited in enable js redirect.

    jwt {
      primary yes
      enable js redirect
...

but no matter where i put the line it errors on Caddy reload.  "Error during parsing: unsupported directive for enable: js redirect"

[2021-06-09 03:40] greenpau commented on #133
@akzkak , please wait until next week. I am going to release new versions of plugins. The reason  you are getting errors is because this feature will be  available only in the new release.

[2021-06-09 12:35] #133 closed

[2021-06-10 13:52] samcro1967 commented on #132
I am now able to login with Edge, Firefox and Safari.  Seems like once the token expired after 24 hours those started working.  Not sure why clearing the browser cache did not make them work right away.  Chrome is still not working unless I am in Incognito mode.  When I compare the browser consoles in normal mode vs. incognito, I see the access_token cookie in incognito mode, but not normal mode.

[2021-06-10 23:02] samcro1967 commented on #132
Interestingly enough, removing Chrome and reinstalling it allows it to work once.  After logout and attempting to log back in the problem happens again.  Perhaps a bug with Chrome Version 91.0.4472.101 (Official Build) (64-bit).  Everything is working with Firefox, Edge, and Safari.

[2021-06-11 04:47] tgelite opened #134 "Proper JSON configuration for 2fa in local authentication configuration."
**Describe the issue**

I have a question on documenting the proper JSON configuration format for 2fa under the parent "backends": {} entry

**Configuration**

Paste full `Caddyfile` below:
Sorry the full json file is _massive_, I believe this is the specific section below is what we SHOULD be targeting to configure from our already working config (will attach full config as zip if needed)

After

[2021-06-11 06:00] tgelite commented on #134
Hmm, I have some config checking to do and customized template and possibly CSS updating.  Testing with my proposed config ends up in a weird place on new registration and re-enforcing 2fa on login flows, even tho the config seems to be correct.   I'll open again when I've got this working to talk about docs contrib.

[2021-06-11 06:00] #134 closed

[2021-06-11 12:15] greenpau commented on #134
@tgelite , exactly for that reason, in the upcoming release, I have separated configs from actual backends. Wait to digging into the code, because lots of changes coming very soon.

https://github.com/greenpau/caddy-auth-portal/blob/1db7d209abeb0ef2dd71e085ebf64b15fe29f342/pkg/backends/backend.go#L48

[2021-06-11 12:49] samcro1967 commented on #132
I turned on Chrome logging.  It appears Google Safebrowsing is blocking mfa from working.  I see it in the logs in normal mode, but not incognito mode.  If I disable it, it works fine in normal mode.  My site does shows up as safe in the Google
Transparency Report so not sure why it is being blocked, but appears to have started after I switched to DuckDNS.  Perhaps Google has some blanket rule to

[2021-06-11 18:45] cceyda commented on #121
Leaving this here because I found it pretty useful, maybe should add this to README as reference:
https://caddyserver.com/docs/json/apps/http/servers/routes/handle/auth_portal/

[2021-06-12 02:13] maxott opened #135 "Delegating to OPA for Authz"
Hi, I was just wondering if delegating to OPA for authorization would be possible? We use it for many other parts of the system and using a single place for managing authorization rules would greatly simplify things.

Just checking.

Thanks

[2021-06-12 21:18] jobec opened #136 "How to get email through facebook backend?"
**Describe the issue**

I'm using the facebook backend and try to assign roles based on peoples email address. But when fetching a users profile from facebook, there's no email address included.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

[code]

**Expected behavior**

The email address is retrieved from facebook and a role is assigned based on that email.